<div ng-controller="DeletePylonTypeModalController">
    <div class="row padding-10">
        <div class="width-100">
            {{ "Тип опоры '" + app.equipment.currentPylonType.title.value + "' будет удален" }}
        </div>
    </div>
    <div class="row padding-10">
        <div class="width-50">
            <button class="button green square width-100" ng-click="delete()">Удалить</button>
        </div>
        <div class="50">
            <button class="button red square width-100" ng-click="close()">Отмена</button>
        </div>
    </div>
</div>