<div ng-controller="EditAnchorTypeModalController">
    <div class="row height-100 padding-10">
        <label for="anchor-type-title">Наименование типа крепления</label>
        <input type="text"
               name="anchor-type-title"
               id="anchor-type-title"
               class="width-100"
               placeholder="Наименование типа крепления"
               ng-disabled="app.equipment.currentAnchorType._states_.loading() === true"
               ng-change="app.equipment.currentAnchorType._states_.changed(true)"
               ng-model="app.equipment.currentAnchorType.title.value"/>
    </div>
    <div class="row padding-10">
        <div class="width-50">
            <button class="button green square width-100"
                    ng-disabled="app.equipment.currentAnchorType._states_.loading() === true || app.equipment.currentAnchorType._states_.changed() === false"
                    ng-click="validate()">
                Сохранить
            </button>
        </div>
        <div class="50">
            <button class="button red square width-100"
                    ng-disabled="app.equipment.currentAnchorType._states_.loading() === true"
                    ng-click="cancel()">
                Отмена
            </button>
        </div>
    </div>
    <div class="row">
        <div class="modal-messages-container" ng-show="errors.length > 0">
            <div class="message" ng-repeat="error in errors track by $id(error)">{{ error }}</div>
        </div>
    </div>
</div>