<div ng-controller="EditPowerLineModalController">
    <div class="row height-100 padding-10">
        <label for="power-line-title">Наименование линии</label>
        <input type="text"
               name="power-line-title"
               id="power-line-title"
               class="width-100"
               placeholder="Наименование линии"
               ng-disabled="app.currentPowerLine._states_.loading() === true"
               ng-change="app.currentPowerLine._states_.changed(true)"
               ng-model="app.currentPowerLine.title.value"/>
    </div>
    <div class="row height-100 padding-10">
        <label for="power-line-voltage">Напряжение линии</label>
        <input type="text"
               name="power-line-voltage"
               id="power-line-voltage"
               class="width-100"
               placeholder="Напряжение линии"
               ng-disabled="app.currentPowerLine._states_.loading() === true"
               ng-change="app.currentPowerLine._states_.changed(true)"
               ng-model="app.currentPowerLine.voltage.value"/>
    </div>
    <div class="row padding-10">
        <div class="width-50">
            <button class="button green square width-100"
                    ng-disabled="app.currentPowerLine._states_.loading() === true || app.currentPowerLine._states_.changed() === false"
                    ng-click="validate()">
                Сохранить
            </button>
        </div>
        <div class="50">
            <button class="button red square width-100"
                    ng-disabled="app.currentPowerLine._states_.loading() === true"
                    ng-click="cancel()">
                Отмена
            </button>
        </div>
    </div>
    <div class="row">
        <div class="modal-messages-container" ng-show="errors.length > 0">
            <div class="message" ng-repeat="error in errors track by $id(error)">{{ error }}</div>
        </div>
    </div>
</div>