<div ng-controller="EditUserPasswordModalController">
    <div class="row padding-10 height-100">
        <label for="user-password">Пароль</label>
        <input type="password"
               name="user-password"
               id="user-password"
               class="width-100"
               placeholder="Пароль"
               ng-disabled="isLoading === true"
               ng-change="isChanged = true"
               ng-model="password"/>
    </div>
    <div class="row padding-10 height-100">
        <label for="user-password-repeat">Пароль еще раз</label>
        <input type="password"
               name="user-password-repeat"
               id="user-password-repeat"
               class="width-100"
               placeholder="Пароль еще раз"
               ng-disabled="isLoading === true"
               ng-change="isChanged = true"
               ng-model="passwordRepeat"/>
    </div>
    <div class="row padding-10">
        <div class="width-50">
            <button class=" button green square width-100"
                    ng-disabled="isLoading === true || isChanged === false"
                    ng-click="validate()">
                Сохранить
            </button>
        </div>
        <div class="50">
            <button class="button red square width-100"
                    ng-disabled="isLoading === true"
                    ng-click="cancel()">
                Отмена
            </button>
        </div>
    </div>
    <div class="row">
        <div class="modal-messages-container" ng-show="errors.length > 0">
            <div class="message" ng-repeat="error in errors track by $id(error)">{{ error }}</div>
        </div>
    </div>
</div>