<div ng-controller="AddWorkingCommissionModalController">
    <div class="row height-100 split-20">
        <label for="user-group-title">Дата рабочей коммиссии</label>
        <input type="text"
               name="user-group-title"
               id="user-group-title"
               class="width-100"
               placeholder="Дата рабочей коммиссии"
               ng-disabled="newWorkingCommission._states_.loading() === true"
               ng-model="newWorkingCommission.date.value"/>
    </div>
    <div class="row">
        <div class="width-50">
            <button class="green square width-100" ng-disabled="newWorkingCommission._states_.loading() === true" ng-click="validate()">Добавить</button>
        </div>
        <div class="50">
            <button class="red square width-100" ng-disabled="newWorkingCommission._states_.loading() === true" ng-click="cancel()">Отмена</button>
        </div>
    </div>
    <div class="row">
        <div class="modal-messages-container" ng-show="errors.length > 0">
            <div class="message" ng-repeat="error in errors track by $id(error)">{{ error }}</div>
        </div>
    </div>
</div>