<div ng-controller="AddRequestModalController">
    <div class="row height-100" >
        <tabs tabs-source="tabs" tabs-position="top"></tabs>
    </div>
    <div class="row width-100 padding-10">
        <div class="width-50">
            <button class="green square width-100" ng-disabled="newPowerLine._states_.loading() === true" ng-click="validate()">Добавить</button>
        </div>
        <div class="50">
            <button class="red square width-100" ng-disabled="newPowerLine._states_.loading() === true" ng-click="cancel()">Отмена</button>
        </div>
    </div>
    <div class="row width-100">
        <div class="modal-messages-container" ng-show="errors.length > 0">
            <div class="message" ng-repeat="error in errors track by $id(error)">{{ error }}</div>
        </div>
    </div>
</div>