<div ng-controller="AddConnectionNodeModalController">
    <div class="row height-100 padding-10">
        <label for="connection-node-type">Тип оборудования</label>
        <select name="connection-node-type"
                id="connection-node-type"
                class="width-100"
                ng-model="newConnectionNodeTypeId"
                ng-change="onChangeNodeType(newConnectionNodeTypeId)"
                ng-options="type.id.value as type.title.value for type in nodes.types.items | onlyNonBasicNodes">
        </select>
    </div>
    <div class="row height-100 padding-10" ng-show="newConnectionNodeTypeId === 2">
        <label for="anchor-type">Тип крепления</label>
        <select name="anchor-type"
                id="anchor-type"
                class="width-100"
                ng-model="newConnectionNode.anchorTypeId.value"
                ng-options="anchorType.id.value as anchorType.title.value for anchorType in misc.anchorTypes.items">
        </select>
    </div>
    <!--
    <div class="row height-100 padding-10">
        <label for="power-line-voltage">Напряжение линии</label>
        <input type="text"
               name="power-line-voltage"
               id="power-line-voltage"
               class="width-100"
               placeholder="Напряжение линии"
               ng-disabled="newPowerLine._states_.loading() === true"
               ng-model="newPowerLine.voltage.value"/>
    </div>
    -->

    <div class="row padding-10">
        <div class="width-50">
            <button class="button green square width-100" ng-disabled="newPowerLine._states_.loading() === true" ng-click="validate()">Добавить</button>
        </div>
        <div class="50">
            <button class="button red square width-100" ng-disabled="newPowerLine._states_.loading() === true" ng-click="cancel()">Отмена</button>
        </div>
    </div>
    <div class="row">
        <div class="modal-messages-container" ng-show="errors.length > 0">
            <div class="message" ng-repeat="error in errors track by $id(error)">{{ error }}</div>
        </div>
    </div>
</div>