<table class="column width-20">
    <tr class="column-header">
        <td class="caption width-100">
            Типы контрагентов
            <button class=" button green right"
                    ng-if="permissions.getByRuleCode('add_contractor_group').enabled.value === true"
                    ng-click="addType()"
                    title="Добавить тип контрагента">
                +
            </button>
        </td>
    </tr>
    <tr class="column-content-container">
        <td>
            <div class="column-content y-scrollable padding-5">
                <div class="service-message" ng-show="contractors.contractorTypes._states_.loaded() === false">
                    <img class="loading" src="resources/img/loader.gif" alt="Загрузка"/>
                    <span>Загрузка...</span>
                </div>
                <div class="service-message" ng-show="contractors.contractorTypes._states_.loaded() === true && contractors.contractorTypes.size() === 0">
                    Типы контрагентов отсутствуют
                </div>

                <ul class="cards">
                    <li class="card"
                        ng-class="{'active': type._states_.selected() === true}"
                        ng-repeat="type in contractors.contractorTypes.items | orderBy:'_backup_.data.title' track by $id(type)"
                        ng-click="selectType(type.id.value)">
                        <img src="../resources/img/icons/contractor-type.png" alt="" class="card-img icon"/>
                        <div class="card-header">
                            <span>{{ type._backup_.data.title }}</span>
                            <div class="right" ng-show="app.currentContractorType.id.value === type.id.value">
                                <button class="button round blue"
                                        title="Редактировать"
                                        ng-if="permissions.getByRuleCode('edit_contractor_group').enabled.value === true"
                                        ng-click="editType($event)">
                                    <img src="resources/img/icons/edit.png" alt=""/>
                                </button>
                                <button class="button round red"
                                        title="Удалить"
                                        ng-if="permissions.getByRuleCode('delete_contractor_group').enabled.value === true"
                                        ng-click="deleteType($event)">
                                    &times;
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="secondary-text"
                                  ng-show="contractors.getContractorsCountByType(type.id.value) !== 0"
                                  ng-class="{'light': title._states_.selected() === true }">
                                {{ "Контрагентов: " + contractors.getContractorsCountByType(type.id.value) }}
                            </span>
                            <span class="secondary-text"
                                  ng-show="contractors.getContractorsCountByType(type.id.value) === 0"
                                  ng-class="{'light': title._states_.selected() === true }">
                                Нет контрагентов
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>

<table class="column width-80">
    <tr class="column-header">
        <td class="caption width-100">
            Контрагенты
            <button class="button green right"
                    ng-if="permissions.getByRuleCode('add_contractor').enabled.value === true"
                    ng-click="addContractor()"
                    title="Добавить контрагента">
                +
            </button>
        </td>
    </tr>
    <tr class="column-content-container">
        <td>
            <div class="column-content y-scrollable padding-5">

                <div class="service-message" ng-show="contractors.contractors._states_.loaded() === false">
                    <img class="loading" src="resources/img/loader.gif" alt="Загрузка"/>
                    <span>Загрузка...</span>
                </div>
                <div class="service-message" ng-show="contractors.contractors._states_.loaded() === true && contractors.contractorTypes.size() === 0">
                    Контрагенты отсутствуют
                </div>

                <ul class="cards">
                    <li class="card"
                        ng-class="{'active': contractor._states_.selected() === true}"
                        ng-repeat="contractor in contractors.contractors.items | byContractorType: app.currentContractorType.id.value | orderBy:'_backup_.data.title' track by $id(contractor)"
                        ng-click="selectContractor(contractor.id.value)">
                        <img src="../resources/img/icons/contractors.png" alt="" class="card-img icon"/>
                        <div class="card-header">
                            <span>{{ contractor._backup_.data.title }}</span>
                            <div class="right" ng-show="app.currentContractor.id.value === contractor.id.value">
                                <button class="button round blue"
                                        title="Редактировать"
                                        ng-if="permissions.getByRuleCode('edit_contractor').enabled.value === true"
                                        ng-click="editContractor($event)">
                                    <img src="resources/img/icons/edit.png" alt=""/>
                                </button>
                                <button class="button round red"
                                        title="Удалить"
                                        ng-if="permissions.getByRuleCode('delete_contractor').enabled.value === true"
                                        ng-click="deleteContractor($event)">
                                    &times;
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="secondary-text"
                                  ng-show="contractors.getContractorsCountByType(type.id.value) !== 0"
                                  ng-class="{'light': title._states_.selected() === true }">
                                <span class="secondary-text" ng-show="contractor.contractorTypeId.value !== 0">{{ contractors.contractorTypes.find("id", contractor._backup_.data.contractorTypeId)._backup_.data.title }} &nbsp; &nbsp; &nbsp;</span>
                                <span class="secondary-text" ng-show="contractor.contractorTypeId.value === 0">Тип контрагента не указан &nbsp; &nbsp; &nbsp;</span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>