<div class="width-100 height-100" ng-controller="BuildingPlanController">
    <table class="column width-50">
        <tr class="column-content-container">
            <td>
                <div id="title-building-plan-details" class="column-content y-scrollable padding-10">
                    <span class="column-title">План работ</span>
                    <span>{{ app.currentBuildingPlanItem.description.value }}</span>
                </div>
            </td>
        </tr>
    </table>

    <table class="column width-50">
        <tr class="column-content-container">
            <td>
                <div id="title-building-plan-contractors" class="column-content y-scrollable padding-10">
                    <span class="column-title">Подрядчики</span>
                </div>
            </td>
        </tr>
    </table>
</div>
