html,
body {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
#app-wrapper {
  height: 100%;
  min-width: 1200px;
  overflow-x: auto;
}
#app-header {
  height: 50px;
  background: #3194B5;
}
#app-menu {
  width: 50px;
  background: url("../img/menu_background.png");
}
/*****
* NEW-TITLE-TEMPLATE
*****/
#new-title-template-content {
  padding-top: 50px;
}
#new-title-template-content .mdash {
  padding-top: 80px;
  font-size: 64px;
  font-weight: bold;
  color: lightgrey;
}
/*****
* SHARED
*****/
.service-panel {
  padding-top: 66px;
  background: #FAF9F7;
}
.block-title {
  font-family: "Helvetica";
  font-size: 18px;
  color: #CFCCCC;
}
.node-icon.pylon {
  background: url("../img/icons/pylon.png") no-repeat;
  background-origin: border-box;
}
.node-icon.big {
  width: 200px;
  height: 200px;
}
.required {
  display: inline-block;
  margin-left: 5px;
  font-family: "Helvetica";
  font-size: 18px;
  color: #D64949;
}
.required:after {
  content: "*";
}
.messages-container.errors {
  border-left: 5px solid #F0B1B1;
}
.messages-container.success {
  border-left: 5px solid #6ECC97;
}
.messages-container .message-item {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 14px;
  box-sizing: border-box;
}
.messages-container .message-item.error {
  color: #D64949;
}
.messages-container .message-item.success {
  color: #1CA658;
}
