@app-header-height: 50px;
@app-menu-width: 55px;

@font-face {
  font-family: "Roboto Regular"; /* Гарнитура шрифта */
  src: url("../fonts/Roboto-Regular.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Roboto Bold"; /* Гарнитура шрифта */
  src: url("../fonts/Roboto-Bold.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Roboto Italic"; /* Гарнитура шрифта */
  src: url("../fonts/Roboto-Italic.ttf"); /* Путь к файлу со шрифтом */
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: "Roboto Regular";
}

body {
  //padding-top: @app-header-height;
  //padding-bottom: @app-header-height;
}


#app-wrapper {
  position: relative;
  height: 100%;
  padding-top: @app-header-height;
  min-width: 1200px;
  overflow-x: auto;
  z-index: 2;
}




#app-header_ {
  position: absolute;
  //display: table;
  z-index: 3;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  min-width: 1200px;
  height: @app-header-height;
  background: #3194B5;

  #app-title_ {
    float: left;
    width: 270px;
    height: @app-header-height;
    padding-left: 25px;
    font-family: "Roboto Bold";
    font-size: 25px;
    line-height: 50px;
    color: white;
    box-sizing: border-box;
  }



  #app-menu_ {
    position: absolute;
    left: 270px;
    top: 0px;
    right: 230px;
    //display: table-cell;
    //float: left;
    height: @app-header-height;
    text-align: center;
    box-sizing: border-box;
    //background: yellow;

    .app-menu-item {
      display: block;
      float: left;
      z-index: 5;
      height: @app-header-height;
      box-sizing: border-box;

      &:hover {
        background: #1D82A3;
        .hover-visible {
          display: block;
        }
      }

      .hover-visible {
        display: none;
      }

      a {
        position: relative;
        display: block;
        z-index: 5;
        height: @app-header-height;
        padding-top: 5px;
        padding-bottom: 9px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Roboto Regular";
        color: white;
        line-height: 35px;
        text-align: left;
        box-sizing: border-box;
        border-top: 4px solid transparent;

        &.active {
          font-family: "Roboto Bold";
          border-top: 4px solid lightblue;
        }

        img {
          display: inline-block;
          float: left;
          width: 35px;
          margin-right: 10px;
        }

        .menu-item-arrow-down {
          display: inline-block;
          margin-left: 5px;
          font-size: 12px;
          line-height: 38px;
        }
      }

      .submenu {
        position: absolute;
        float: left;
        overflow: visible;
        z-index: 10;
        background: #16586E;

        .app-submenu-item {
          height: 50px;
          box-sizing: border-box;
          a {
            position: relative;
            display: block;
            line-height: 35px;
            box-sizing: border-box;
            border-top: 2px solid transparent;

            &:hover {
              background: #246E87;
            }

            &.active {
            }

            img {
              display: inline-block;
              float: left;
              width: 35px;
              margin-right: 10px;
            }
          }
        }
      }
    }

    #menu-container {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
    }

    .top-menu-item {
      display: inline-block;
      float: left;
      overflow-y: visible;
      //overflow-x: hidden;
      //overflow: auto;
      z-index: 5;
      height: @app-header-height;
      padding-top: 5px;
      padding-bottom: 9px;
      padding-left: 15px;
      padding-right: 15px;
      font-family: "Roboto Regular";
      color: white;
      box-sizing: content-box;
      border-top: 4px solid transparent;
      box-sizing: border-box;
      //background: #1D82A3;

      &:hover {
        background: #1D82A3;
        color: white;

        .hover-visible {
          display: block;
        }
      }

      &.active {
        font-family: "Roboto Bold";
        border-top: 4px solid lightblue;
      }

      .hover-visible {
        display: none;
      }



      .sub-menu {
        position: absolute;
        float: left;
        //width: 300px;
        min-width: inherit;
        overflow: visible;
        //height: 200px;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: @app-header-height - 10px;
        z-index: 10;

        .sub-menu-item {
          position: relative;
          display: block;
          //float: left;
          overflow-y: visible;
          //overflow-x: hidden;
          overflow: auto;
          z-index: 10;
          //height: @app-header-height;
          padding-top: 8px;
          padding-bottom: 10px;
          padding-left: 15px;
          padding-right: 15px;
          font-family: "Roboto Regular";
          color: white;
          box-sizing: content-box;
          border-top: 4px solid transparent;
          box-sizing: border-box;
          background: #16586E;

          &:hover {
            background: #1D82A3;
            color: white;

            .hover-visible {
              display: block;
            }
          }
        }
      }

      img {
        display: inline-block;
        float: left;
        width: 35px;
        margin-right: 10px;
      }

      .menu-item-title {
        display: inline-block;
        float: left;
        margin-top: 8px;
      }

      .sub-menu-item {
        display: block;
        background: #1D82A3;
      }

    }


  }

  #app-user_ {
    float: right;
    width: 230px;
    height: @app-header-height;
    text-align: center;
    font-family: "Roboto Regular";
    color: white;
    background: #1D82A3;
    cursor: pointer;

    #app-user-content {
      height: @app-header-height;
      padding: 5px;
      box-sizing: border-box;
    }

    .hover-visible {
      position: relative;
      display: none;
      //height: 100px;
      padding: 5px;
      //margin-left: -5px;
      //margin-right: -5px;
      z-index: 10;
      background: #16586E;
      cursor: default;
    }

    &:hover {
      .hover-visible {
        display: block;
      }
    }

    .user-position {
      display: block;
      font-size: 13px;
      color: #DBDBDB;
    }
  }
}



#app-header {
  position: relative;
  overflow-y: visible;
  height: @app-header-height;
  z-index: 1;
  background: #3194B5;
  box-sizing: border-box;

  #app-header-container {
    height: @app-header-height;
    border: 1px solid green;
  }


  #app-title {
    float: left;
    width: 270px;
    //height: @app-header-height;
    //padding: 5px;
    //padding-left: 20px;
    //box-sizing: border-box;
    font-family: "Roboto Bold";
    //font-size: 25px;
    //line-height: 40px;
    color: white;
    border: 1px solid white;
  }


  #header-controls {
    position: relative;
    //float: left;
    //margin-left: 270px;
    width: auto;
    border: 1px solid orange;


    #top-menu {
      //position: relative;
      //float: left;
      //height: @app-header-height;
     // margin-right: 250px;
      border: 1px solid red;
      //box-sizing: border-box;
      text-align: center;

      .top-menu-item {
        display: inline-block;
        float: left;
        overflow: visible;
        z-index: 5;
        height: @app-header-height;
        padding-top: 5px;
        padding-bottom: 9px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Roboto Regular";
        color: white;
        box-sizing: content-box;
        border-top: 4px solid transparent;
        box-sizing: border-box;
        //background: #1D82A3;

        &:hover {
          background: #1D82A3;
          color: white;
        }

        &.active {
          font-family: "Roboto Bold";
          border-top: 4px solid lightblue;
        }


        img {
          display: inline-block;
          float: left;
          width: 35px;
          margin-right: 10px;
        }

        .menu-item-title {
          display: inline-block;
          float: left;
          margin-top: 8px;
        }

        .sub-menu-item {
          background: #1D82A3;
        }
      }
    }

    #app-user {
      //position: relative;
      float: right;
      overflow: hidden;
      width: 230px;
      //height: @app-header-height;
      //box-sizing: border-box;
      text-align: center;
      font-family: "Roboto Regular";
      color: white;
      background: #1D82A3;
      z-index: 2;
      cursor: pointer;
      border: 1px solid blue;


      #app-user-content {
        //height: @app-header-height;
        padding: 5px;
        //box-sizing: border-box;
      }

      .hover-visible {
        position: relative;
        display: none;
        //height: 100px;
        padding: 5px;
        //margin-left: -5px;
        //margin-right: -5px;
        z-index: 10;
        background: #16586E;
        cursor: default;
      }

      &:hover {
        .hover-visible {
          display: block;
        }
      }

      .user-position {
        display: block;
        font-size: 13px;
        color: #DBDBDB;
      }
    }
  }



}


#app-content {

}


#app-menu {
  //width: @app-menu-width;
  width: 0px;
  padding-top: 5px;
  vertical-align: top;
  background: url("../img/menu_background.png");

  &.visible {
    width: 200px;
  }

  .menu-item {
    padding: 5px;
    margin-bottom: 10px;

    &.active {
      img {
        width: 46px;
      }
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 36px;
    }
  }
}


#app-view {
  vertical-align: top;
  z-index: 1;
}




/*****
* NEW-TITLE-TEMPLATE
*****/
#new-title-template-content {
  padding-top: 50px;



  .mdash {
    padding-top: 80px;
    font-size: 64px;
    font-weight: bold;
    color: lightgrey;
  }
}
#new-title-request {
  padding-top: 50px;
}


/*****
* NEW-USER-TEMPLATE
******/
#new-user-template-content {
  padding-top: 50px;
  box-sizing: content-box;
  overflow-y: auto;
}

/*****
* TITLE-BUILDING-TEMPLATE
*****/
#title-building-plan-details {
  //background: #F9FBE7;
  //border-right: 1px dotted lightgrey;
  overflow-x: hidden;
  font-family: "Roboto Regular";
}


/*****
* SHARED
*****/
.service-panel {
  //padding: 20px;
  padding-top: 66px;
  background: #FAF9F7;
}

.block-title {
  font-family: "Roboto Bold";
  font-size: 20px;
  color: #CFCCCC;
}

.sub-block-title {
  font-family: "Roboto Bold";
  font-size: 15px;
  text-transform: uppercase;
  color: #BDBDBD;
}

.column-title {
  display: inline-block;
  font-family: "Roboto Regular";
  text-transform: uppercase;
  //margin-bottom: 30px;
  font-size: 24px;
  line-height: 40px;
  color: #BDBDBD;
}

.building-status {
  font-family: "Roboto Regular";
  text-transform: uppercase;

  &.green {
    color: #4CAF50;
  }

  &.blue {
    color: #03A9F4;
  }
}

.node-icon {
  display: block;
  float: left;
  width: 48px;
  height: 48px;

  &.pylon {
    background: url("../img/icons/pylon.png") no-repeat;
    background-origin: border-box;
  }

  &.big {
    width: 200px;
    height: 200px;
  }
}

.user-icon {
  display: block;
  float: left;
  width: 48px;
  height: 48px;
  background: url("../img/icons/user.png") no-repeat;
}


.required {
  display: inline-block;
  margin-left: 5px;
  font-family: "Helvetica";
  font-size: 18px;
  color: #D64949;

  &:after {
    content: "*"
  }
}


.messages-container {
  box-sizing: border-box;

  &.modal {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    background: #FFCDD2;
    //border: 1px solid red;
  }

  &.errors {
    border-left: 5px solid #F0B1B1;
  }

  &.success {
    border-left: 5px solid #6ECC97;
  }

  .message-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Roboto Regular";
    font-size: 14px;
    line-height: 14px;
    box-sizing: border-box;


    &.error {
      color: #D64949;
    }

    &.success {
      color: #1CA658;
    }
  }

}

.item-description {
  font-family: "Helvetica";
  font-size: 13px;
  font-style: italic;
  color: gray;
}


.file-item-img {
  float: left;
  width: 32px;
  height: 30px;
  margin-right: 5px;

  &.folder {
    background: url("../img/icons/folder.png");
  }
}



.file-tree {
  position: relative;
  display: block;
  overflow: hidden;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;


  &.inner {
    margin-left: 12px;


    li {
      padding-left: 25px;
      border-left: 1px dotted black;

      &.last-in-line {
        .exp-top-right {
          border-left: 1px dotted black;
          border-bottom: 1px dotted black;
        }
      }

      &.last-in-parent {
        border-left: 0px solid transparent !important;
      }

      &.in-the-middle {
        .exp-top-right {
          border-left: 1px dotted black;
          border-bottom: 1px dotted black;
        }
        .exp-bottom-right {
          border-left: 1px dotted black;
        }
      }

      &.first-in-line {
        .exp-bottom-right {
          border-left: 1px dotted black;
        }
      }

      &.only-one {
        .exp-bottom-right {
          border-left: 1px solid transparent;
        }
      }
    }

    .expander-container {
      //border-left: 1px dotted black;
      .collapse {
        left: 0px;
      }

      .exp-top-right {
        &.first-in-line {
          border-left: 1px dotted black;
          border-bottom: 1px dotted black;
        }
      }
    }


  }


  li {
    position: relative;
    display: block;
    margin-left: 0px;
    float: left;
    width: 100%;

    .item-container {
      height: 40px;
      margin-left: 24px;
      padding: 5px;

      &:hover {
        background: mistyrose;
      }
    }


    .collapse {
      position: relative;
      display: inline-block;
      //top: 17px;
      //left: 6px;
      width: 8px;
      height: 8px;
      padding: 2px;
      font-size: 12px;
      line-height: 8px;
      text-align: center;
      background: white;
      cursor: pointer;
      border: 1px solid black;
      margin-top: 17px;
      margin-left: 5px;

      &:hover {
        background: black;
        color: white;
      }
    }

    .expander-container {
      float: left;
      width: 24px;
      height: 100%;



      &.first-line {
        .exp-top-left {
          //background: red;
        }

        .exp-top-right {
          border-left: 1px dotted black;
          //background: blue;
          &.first-in-line {
            border-left: 1px solid transparent;
            border-bottom: 1px dotted black;
          }
          &.middle-in-line {
            border-bottom: 1px dotted black;
          }
        }

        .exp-bottom-left {
          //background: red;
        }

        .exp-bottom-right {
          border-left: 1px dotted black;
          &.last-in-line {
            border-left: 1px solid transparent;
            border-top: 1px dotted black;
          }
          &.expanded {
            border-left: 1px dotted black;
          }
        }
      }

      .expander {
        float: left;
        width: 10px;
        height: 24px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
      }

      .exp-top-left {
        //background: red;
      }

      .exp-top-right {
        //border-left: 1px dotted black;
        //background: blue;
      }

      .exp-bottom-left {
        //background: red;
      }

      .exp-bottom-right {
        //border-left: 1px dotted black;
        //background: blue;
      }
    }



    .item-content {
      float: left;
      //margin-top: 5px;
      padding-left: 10px;
      font-family: "Helvetica";
      font-size: 15px;
    }

    .item-icon {
      float: left;
      width: 32px;
      height: 30px;
      margin-left: 5px;
      margin-top: 5px;
      background-repeat: no-repeat;

      &.folder {
        background: url("../img/icons/folder.png");
      }

      &.file {
        background: url("../img/icons/file.png");
      }
    }
  }
}




.node-tree {
  position: relative;
  display: block;
  overflow: hidden;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;


  li {
    display: block;
    margin-left: 0px;
    float: left;
    width: 100%;
    cursor: pointer;


    .node-container {
      height: 40px;
      padding: 10px;
      margin-left: 24px;
      padding: 5px;

      &:hover {
        background: #E3F2FD;
      }

      &.selected {
        background: #BBDEFB;
      }
    }


    .collapse {
      position: relative;
      display: inline-block;
      //top: 17px;
      //left: 6px;
      width: 8px;
      height: 8px;
      padding: 2px;
      font-size: 12px;
      line-height: 8px;
      text-align: center;
      background: white;
      cursor: pointer;
      border: 1px solid black;
      margin-top: 17px;
      margin-left: 5px;

      &:hover {
        background: black;
        color: white;
      }
    }

    .expander-container {
      float: left;
      width: 24px;
      height: 100%;



      &.first-line {
        .exp-top-left {
          //background: red;
        }

        .exp-top-right {
          border-left: 1px dotted black;
          //background: blue;
          &.first-in-line {
            border-left: 1px solid transparent;
            border-bottom: 1px dotted black;
          }
          &.middle-in-line {
            border-bottom: 1px dotted black;
          }
        }

        .exp-bottom-left {
          //background: red;
        }

        .exp-bottom-right {
          border-left: 1px dotted black;
          &.last-in-line {
            border-left: 1px solid transparent;
            border-top: 1px dotted black;
          }
          &.expanded {
            border-left: 1px dotted black;
          }
        }
      }

      .expander {
        float: left;
        width: 10px;
        height: 24px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
      }

      .exp-top-left {
        //background: red;
      }

      .exp-top-right {
        //border-left: 1px dotted black;
        //background: blue;
      }

      .exp-bottom-left {
        //background: red;
      }

      .exp-bottom-right {
        //border-left: 1px dotted black;
        //background: blue;
      }
    }



    .node-content {
      float: left;
      //margin-top: 5px;
      padding-left: 10px;
      font-family: "Helvetica";
      font-size: 15px;
    }

    .node-icon {
      float: left;
      width: 40px;
      height: 40px;
      margin-left: 5px;
      //margin-top: 5px;
      background-repeat: no-repeat;

      &.pylon {
        background: url("../img/icons/pylon.png");
      }

      &.unknown {
        background: url("../img/icons/unknown.png");
      }
    }
  }


  &.branch {
    margin-left: 12px;

    li {
      padding-left: 25px;
      border-left: 1px dotted black;

      &.last-in-line {
        .exp-top-right {
          border-left: 1px dotted black;
          border-bottom: 1px dotted black;
        }
      }

      &.last-in-parent {
        border-left: 0px solid transparent !important;
      }

      &.in-the-middle {
        .exp-top-right {
          border-left: 1px dotted black;
          border-bottom: 1px dotted black;
        }
        .exp-bottom-right {
          border-left: 1px dotted black;
        }
      }

      &.first-in-line {
        .exp-bottom-right {
          border-left: 1px dotted black;
        }
      }

      &.only-one {
        .exp-bottom-right {
          border-left: 1px solid transparent;
        }
      }
    }

    .expander-container {
      //border-left: 1px dotted black;
      .collapse {
        left: 0px;
      }

      .exp-top-right {
        &.first-in-line {
          border-left: 1px dotted black;
          border-bottom: 1px dotted black;
        }
      }
    }



    .node-content {
      float: left;
      //margin-top: 5px;
      padding-left: 10px;
      font-family: "Helvetica";
      font-size: 15px;
    }

    .node-icon {
      float: left;
      width: 40px;
      height: 40px;
      margin-left: 5px;
      //margin-top: 5px;
      background-repeat: no-repeat;

      &.pylon {
        background: url("../img/icons/pylon.png");
      }

      &.unknown {
        background: url("../img/icons/unknown.png");
      }
    }


  }

}



.request-item {
  background: white;

  .document {
    display: block;
    float: left;
    width: 100px;
    height: 150px;
    margin-right: 10px;
    background: white;
    border: 1px solid black;
  }

  a {
    display: block;
  }
}

.request-title {
  font-family: "Roboto Bold";
  font-size: 18px;
  color: gray;
}


.label-button {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-family: "Roboto Regular";
  font-size: 13px;
  text-align: center;
  color: white;
  background: #84A8F0;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  
  &:hover {
    background: #4B8CD1;
  }

  input[type="file"] {
    display: none;
  }
}

#request-gensogl-upload {
  display: none;
}

#request-tu-upload {
  display: none;
 }

#request-doud-upload {
  display: none;
}

#upload {
  display: none;
}



.upload-success {
  background: #C5E1A5;

  img {
    width: 20px;
  }
}



a {
  text-decoration: none;
  color: #03A9F4;

  &:hover {
    color: #01579B;
  }
}


.paragraph {
  padding-left: 15px;
  color: gray;
}

.italic {
  font-family: "Roboto Italic";
}




.request-status-big {
  font-family: "Roboto Bold";
  font-size: 20px;
  color: #9E9E9E;
}


hr {
  display: block;
  float: left;
  border: 0px solid transparent;
  border-bottom: 1px solid lightgrey;
}


.request-status {
  display: block;
  //width: auto;
  overflow: visible;
  margin-left: 10px;
  padding-left: 0px;
  //border-left: 3px solid #90CAF9;
  //border:1px solid black;

  li {
    display: block;
    overflow: visible;
    //float: left;
    //height: 50px;
    list-style-type: none;
    //border: 1px solid red;
    //margin-bottom: 20px;
    //padding-bottom: 20px;
    border-left: 3px solid #2196F3
  ;
    //border-bottom:1px solid lightgray;

    &:last-of-type {
      border-bottom: none;
      border-left: 3px solid transparent;
    }

    &:before {
      content: "\2022";
      display: block;
      float: left;
      width: 20px;
      height: 20px;
      margin-left: -10px;
      margin-top: -25px;
      vertical-align: top;
      font-size: 50px;
      color: #2196F3;
    }

    .request-status-content {
      display: block;
      //float: left;
      overflow: visible;
      height: 100px;
      //margin-left: 20px;
      //margin-top: -15px;
      border: 1px solid red;
    }

    .status-header {
      display: inline-block;
      float: left;
      //width: auto;
      margin-top: -16px;
      //margin-left: -5px;
      padding-left: 10px;
      //padding-right: 5px;
      border-bottom: 1px solid #2196F3;
    }

    .status-comment {
      float: left;
      //width: auto;
    }

    .status-info {
      float: left;
      //width: auto;
      padding-bottom: 10px;
      margin-bottom: 30px;
      border-bottom: 1px solid lightgray;
    }
  }

}




/***** AUTHORIZATION *****/
#authorization-box {
  width: 400px;
  border: 1px solid lightgrey;

  .box-header {
    font-family: "Roboto Bold";
    font-size: 14px;
    color: gray;
    text-transform: uppercase;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    border-bottom: 1px solid lightgrey;
  }

  a {
    font-family: "Roboto Regular";
    font-size: 14px;
  }

  .modal-messages-container {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-sizing: border-box;

    &.error {
      background: #FFEBEE;
      .message {
        font-family: "Roboto Regular";
        font-size: 15px;
        color: #F44336;
      }
    }

    &.success {
      background: #E1EDDD;
      .message {
        font-family: "Roboto Regular";
        font-size: 15px;
        color: #6BA35A;
      }
    }


  }
}





/***** TOP MENU *****/



