@app-header-height: 50px;
@app-menu-width: 50px;

html, body {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}


#app-wrapper {
  height: 100%;
  min-width: 1200px;
  overflow-x: auto;
}


#app-header {
  height: @app-header-height;
  background: #3194B5;
}


#app-content {

}


#app-menu {
  width: @app-menu-width;
  background: url("../img/menu_background.png");
}


#app-view {
}




/*****
* NEW-TITLE-TEMPLATE
*****/
#new-title-template-content {
  padding-top: 50px;

  .mdash {
    padding-top: 80px;
    font-size: 64px;
    font-weight: bold;
    color: lightgrey;
  }
}



/*****
* SHARED
*****/
.service-panel {
  //padding: 20px;
  padding-top: 66px;
  background: #FAF9F7;
}

.block-title {
  font-family: "Helvetica";
  font-size: 18px;
  color: #CFCCCC;
}

.node-icon {

  &.pylon {
    background: url("../img/icons/pylon.png") no-repeat;
    background-origin: border-box;
  }

  &.big {
    width: 200px;
    height: 200px;
  }
}

.required {
  display: inline-block;
  margin-left: 5px;
  font-family: "Helvetica";
  font-size: 18px;
  color: #D64949;

  &:after {
    content: "*"
  }
}


.messages-container {

  &.errors {
    border-left: 5px solid #F0B1B1;
  }

  &.success {
    border-left: 5px solid #6ECC97;
  }

  .message-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Helvetica";
    font-size: 14px;
    line-height: 14px;

    box-sizing: border-box;

    &.error {
      color: #D64949;
    }

    &.success {
      color: #1CA658;
    }
  }

}