html,
body {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
#app-wrapper {
  height: 100%;
  min-width: 1500px;
  overflow-x: auto;
}
#app-header {
  height: 50px;
  background: #3194B5;
}
#app-menu {
  width: 50px;
  background: url("../img/menu_background.png");
}
/*****
* NEW-TITLE-TEMPLATE
*****/
/*****
* SHARED
*****/
.service-panel {
  background: #FAF9F7;
}
