/********** COLUMNS **********/
.gears-columns {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #E3E3E3;
}
.gears-columns .gears-columns-row {
  position: relative;
  display: table-row;
  width: 100%;
  box-sizing: border-box;
}
.gears-columns .gears-columns-column {
  position: relative;
  display: table-cell;
  overflow: hidden;
  height: 100%;
  border-right: 1px solid #E3E3E3;
}
.gears-columns .gears-columns-column:last-of-type {
  border-right: none;
}
.gears-columns .gears-columns-column .column-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  padding: 5px;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border-bottom: 1px solid lightgrey;
}
.gears-columns .gears-columns-column .column-header .header-caption {
  display: inline-block;
  margin-right: 5px;
  line-height: 14px;
  font-size: 14px;
  text-transform: uppercase;
  color: gray;
}
.gears-columns .gears-columns-column .column-header .service-button {
  width: 20px;
  height: 20px;
  padding: 2px;
  vertical-align: bottom;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: darkgray;
  background: transparent;
  border: none;
  cursor: pointer;
}
.gears-columns .gears-columns-column .column-header .service-button:hover {
  color: black;
}
.gears-columns .gears-columns-column .column-content {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 5px;
  overflow: auto;
}
/********** GRID **********/
.grid .grid-caption {
  border-bottom: 1px dotted lightgray;
  cursor: pointer;
}
.grid .grid-caption:hover {
  border-bottom: 1px dotted black;
}
.grid .service-button {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  padding: 2px;
  vertical-align: bottom;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: darkgray;
  background: transparent;
  border: none;
  cursor: pointer;
}
.grid .service-button:hover {
  color: black;
}
/********** TABZ **********/
.tabz {
  overflow: visible;
}
.tabz .tabs-container ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
.tabz .tabs-container ul li {
  display: inline-block;
  float: left;
}
.tabz .tabs-container.top {
  border-bottom: 1px solid lightgray;
}
.tabz .tabs-container.bottom {
  border-top: 1px solid lightgray;
}
