/*****
* SCROLL VIEWS
*****/
.y-scrollable {
  overflow-y: auto;
}
.x-scrollable {
  overflow-x: scroll;
}
.no-overflow {
  overflow: hidden;
}
/*****
* ALIGNMENTS
*****/
.left {
  float: left;
}
.right {
  float: right;
}
.no-float {
  float: inherit !important;
}
.centered {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-centered {
  text-align: center;
}
/*****
* GRID
*****/
.row {
  display: table;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.row div {
  overflow: auto;
  box-sizing: border-box;
}
.row.split-5 {
  margin-bottom: 5px;
}
.row.split-10 {
  margin-bottom: 10px;
}
.row.split-20 {
  margin-bottom: 20px;
}
.row.split-30 {
  margin-bottom: 30px;
}
.row.split-50 {
  margin-bottom: 50px;
}
.width-5 {
  float: left;
  width: 5%;
}
.width-10 {
  float: left;
  width: 10%;
}
.width-15 {
  float: left;
  width: 15%;
}
.width-20 {
  float: left;
  width: 20%;
}
.width-20.height-100 {
  display: table-cell;
}
.width-25 {
  float: left;
  width: 25%;
}
.width-30 {
  position: relative;
  float: left;
  width: 30%;
  box-sizing: border-box;
}
.width-33 {
  position: relative;
  float: left;
  width: 33.333333333%;
}
.width-35 {
  position: relative;
  float: left;
  width: 35%;
  box-sizing: border-box;
}
.width-40 {
  float: left;
  width: 40%;
}
.width-45 {
  float: left;
  width: 45%;
}
.width-50 {
  position: relative;
  float: left;
  width: 50%;
}
.width-60 {
  position: relative;
  float: left;
  width: 60%;
}
.width-70 {
  position: relative;
  float: left;
  width: 70%;
}
.width-75 {
  float: left;
  width: 75%;
}
.width-80 {
  float: left;
  width: 80%;
}
.width-85 {
  float: left;
  width: 85%;
}
.width-90 {
  float: left;
  width: 90%;
}
.width-100 {
  position: relative;
  float: left;
  width: 100%;
}
/*****
* HEIGHTS
*****/
.height-100 {
  height: 100%;
}
/*****
* PANE
*****/
.column-container {
  display: block;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
/*****
* COLUMN
*****/
.column {
  position: relative;
  float: left;
  height: 100%;
  padding: 0px;
  border-spacing: 0px;
  border-right: 1px solid #E3E3E3;
  box-sizing: border-box;
}
.column.no-border {
  border-right: none;
}
.column.service-panel {
  background: #FAF9F7;
  border-right: none;
}
.column .block-header {
  padding: 5px;
  background: #FAFAFA;
  border-bottom: 1px solid lightgrey;
}
.column td {
  position: relative;
  box-sizing: border-box;
}
.column td.search {
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border-bottom: 1px solid lightgrey;
}
.column .button-container {
  float: right;
}
.column .column-header {
  float: left;
  width: 100%;
  height: 30px;
  padding: 5px;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border-bottom: 1px solid lightgrey;
}
.column .column-header .caption {
  display: inline-block;
  float: left;
  text-transform: uppercase;
  font-family: "Roboto Bold";
  font-size: 14px;
  vertical-align: middle;
  color: gray;
}
.column .column-header button {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 5px;
  text-align: center;
  vertical-align: bottom;
  font-family: "Roboto Regular";
  font-size: 18px;
  line-height: 9px;
  border-radius: 20px;
  border: none;
}
.column .column-header .separator {
  position: relative;
  height: 20px;
  width: 1px;
  margin-left: 1px;
  margin-right: 3px;
  vertical-align: bottom;
  border-left: 1px dotted lightgrey;
}
.column .column-content-container {
  position: relative;
  height: 100%;
  padding: 5px;
  box-sizing: content-box;
  vertical-align: top;
  border: 1px solid red;
}
.column .column-content-container .column-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.column .column-content-container .list-item {
  margin-bottom: 5px;
  padding: 5px;
  font-family: "Helvetica";
  font-size: 15px;
  cursor: pointer;
}
.column .column-content-container .list-item .hover-visible {
  display: none;
}
.column .column-content-container .list-item:hover {
  background: #F5E7D3;
}
.column .column-content-container .list-item:hover .hover-visible {
  display: inline-block;
}
.column .column-content-container .list-item.active {
  background: #EDD6B4;
}
/*****
* TEXT
*****/
.uppercase {
  text-transform: uppercase;
}
/*****
* COLORS
*****/
.gray {
  color: gray;
}
.lightgray {
  color: lightgray;
}
/*****
* BUTTONS
*****/
.button {
  border: none;
  margin-right: 3px;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Roboto Regular";
  font-size: 13px;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
  line-height: 13px;
}
.button:active {
  outline: none;
}
.button:focus {
  outline: none;
}
.button[disabled] {
  cursor: default;
}
.button.block {
  display: block;
  width: 100%;
}
.button.square {
  border-radius: 0px;
}
.button.round {
  width: 20px;
  height: 20px;
  padding: 5px;
  font-size: 18px;
  border-radius: 20px;
  vertical-align: top;
  line-height: 9px;
}
.button.round img {
  display: block;
  float: left;
  width: 12px;
}
.button.green {
  color: white;
  background: #54C478;
}
.button.green:hover {
  background: #58A678;
}
.button.green[disabled] {
  background: #A7C9B2;
}
.button.red {
  color: white;
  background: #E87C79;
}
.button.red:hover {
  background: #D64949;
}
.button.red[disabled] {
  background: #E3BDBC;
}
.button.blue {
  color: white;
  background: #84A8F0;
}
.button.blue:hover {
  background: #4B8CD1;
}
.button.blue[disabled] {
  background: #BECBE6;
}
/*****
* FORMS
*****/
label {
  display: inline-block;
  float: left;
  margin-bottom: 4px;
  font-family: "Helvetica";
  font-size: 14px;
  color: #CFCCCC;
}
input {
  display: block;
  padding: 7px;
  font-size: 17px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
}
input[type="checkbox"] {
  display: inline-block;
  padding: 10px;
  border: 1px solid lightgrey;
  background: white;
}
select {
  display: block;
  padding: 8px;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
}
textarea {
  display: block;
  padding: 7px;
  font-family: "Helvetica";
  font-size: 17px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
}
/*****
* MISC
*****/
.service-message {
  height: 30px;
  margin-top: 70px;
  font-family: "Roboto Regular";
  font-size: 15px;
  text-align: center;
  vertical-align: bottom;
  color: #C4C2C2;
}
.service-message img.loading {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: -6px;
  vertical-align: text-top;
}
.list {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.list hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  border-bottom: 1px solid lightgrey;
}
.list li {
  list-style-type: none;
  margin-bottom: 7px;
  padding: 10px;
  border: 1px solid #EEEEEE;
}
.list li img {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.list li .hover-visible {
  display: none !important;
}
.list li:hover .hover-visible {
  display: inline-block !important;
}
.list li:nth-last-of-type {
  border-bottom: none;
}
.list.hover {
  cursor: pointer;
}
.list.hover li.active {
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  background: #F5F5F5;
}
.list.hover li:hover {
  border: 1px solid #E0E0E0;
}
.list.hover li:hover .hover-visible {
  display: inline-block;
}
.chronology {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.chronology li {
  display: block;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 80px;
}
.chronology li:hover {
  cursor: pointer;
  background: #E1F5FE;
}
.chronology li.active {
  background: #E1F5FE;
}
.chronology li.left {
  float: left;
  margin-left: -3px;
  text-align: right;
  border-right: 5px solid #B3E5FC;
}
.chronology li.left:before {
  content: "\2022";
  display: inline-block;
  float: right;
  margin-right: -20px;
  margin-top: -5px;
  font-size: 100px;
  line-height: 25px;
  color: #B3E5FC;
}
.chronology li.left .chronology-date {
  float: right;
  margin-right: 10px;
  margin-bottom: 20px;
}
.chronology li.left .chronology-content {
  float: right;
  margin-right: 25px;
}
.chronology li.left .building-status {
  float: left;
}
.chronology li.left.last {
  border-right: 5px solid transparent;
}
.chronology li.left.green {
  border-right: 5px solid #C8E6C9;
}
.chronology li.left.green:before {
  color: #C8E6C9;
}
.chronology li.right {
  float: right;
  margin-right: -2px;
  border-left: 5px solid #B3E5FC;
}
.chronology li.right:before {
  content: "\2022";
  display: inline-block;
  float: left;
  margin-left: -20px;
  margin-top: -5px;
  font-size: 100px;
  line-height: 25px;
  color: #B3E5FC;
}
.chronology li.right .chronology-date {
  float: left;
  margin-left: 10px;
  margin-bottom: 20px;
}
.chronology li.right .chronology-content {
  float: left;
  margin-left: 25px;
}
.chronology li.right.last {
  border-left: 5px solid transparent;
}
.chronology li.right.green {
  border-left: 5px solid #C8E6C9;
}
.chronology li.right.green:before {
  color: #C8E6C9;
}
.primary-text {
  font-family: "Roboto Regular";
  font-size: 16px;
}
.secondary-text {
  font-family: "Roboto Regular";
  font-size: 14px;
  color: #757575;
}
.secondary-text.light {
  color: #9E9E9E;
}
.secondary-text.dark {
  color: black;
}
.secondary-text.italic {
  font-family: "Roboto Italic";
}
/*****
* PADDINGS
*****/
.no-padding {
  padding: 0px !important;
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.padding-50 {
  padding: 50px;
}
/*****
* TEMP
*****/
.gears-ui-typeahead {
  position: absolute;
  top: 400px;
  left: 300px;
  display: block;
  background: transparent;
  box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.08);
  z-index: 9999999999;
}
.gears-ui-typeahead .content {
  padding-top: 5px;
  padding-bottom: 5px;
  background: white;
  border: 1px solid lightgrey;
  -webkit-box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  box-shadow: -1px 7px 36px -6px #b5b5b5;
}
.gears-ui-typeahead .corner-bottom {
  width: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
  border: 12px solid transparent;
  border-top-color: white;
  border-bottom: 0;
}
.gears-ui-typeahead .typeahead-item {
  padding: 10px;
  font-family: "Helvetica";
  font-size: 14px;
  cursor: pointer;
  border-left: 3px solid transparent;
}
.gears-ui-typeahead .typeahead-item:hover {
  background: #EDF1F5;
  border-left: 3px solid #B3D6F2;
}
.ui-tabs {
  position: relative;
  display: block;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.ui-tabs .tab-content {
  display: block;
  position: absolute;
  overflow: auto;
  left: 0px;
  right: 0px;
  z-index: 1;
}
.ui-tabs .tab-content.top {
  top: 35px;
  bottom: 0px;
  border-top: 1px solid lightgrey;
}
.ui-tabs .tab-content.bottom {
  top: 0px;
  bottom: 35px;
  border-bottom: 1px solid lightgrey;
}
.ui-tabs .tab-container {
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  height: 30px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  z-index: 2;
  background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -o-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: linear-gradient(to bottom, #f2f2f2, #ffffff);
}
.ui-tabs .tab-container li {
  display: inline-block;
  float: left;
  margin-left: 3px;
  cursor: pointer;
  text-transform: uppercase;
  background: white;
  padding: 6px;
  list-style-type: none;
  font-family: "Helvetica";
  font-size: 12px;
  color: gray;
  border: 1px solid lightgrey;
}
.ui-tabs .tab-container.top {
  top: 0px;
  padding-top: 5px;
  margin-bottom: -1px;
}
.ui-tabs .tab-container.top li.active {
  color: black;
  border-bottom: 1px solid white;
}
.ui-tabs .tab-container.bottom {
  bottom: 40px;
}
.ui-tabs .tab-container.bottom li {
  margin-top: -1px;
}
.ui-tabs .tab-container.bottom li.active {
  padding-top: 12px;
  color: black;
  border-top: 1px solid white;
}
.gears-ui-tabs {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
.gears-ui-tabs .tabs {
  position: relative;
  display: block;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}
.gears-ui-tabs .tabs li {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  vertical-align: bottom;
  z-index: 1;
  font-family: "Helvetica";
  font-size: 12px;
  color: gray;
  text-transform: uppercase;
  background: white;
  border: 1px solid lightgrey;
  cursor: pointer;
}
.gears-ui-tabs .tabs.top {
  background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -o-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: linear-gradient(to top, #f7f7f7, #ffffff);
}
.gears-ui-tabs .tabs.top li {
  margin-top: 5px;
}
.gears-ui-tabs .tabs.top li.active {
  z-index: 3;
  margin-top: -3px;
  padding-bottom: 10px;
  color: black;
  border-bottom: 1px solid white;
}
.gears-ui-tabs .tabs.bottom {
  background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -o-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: linear-gradient(to bottom, #f7f7f7, #ffffff);
}
.gears-ui-tabs .tab-content {
  position: relative;
  display: block;
  clear: left;
  left: 0px;
  border: 1px solid blue;
  background: white;
  box-sizing: content-box;
  z-index: 2;
}
.gears-ui-tabs .tab-content.top {
  border-top: 1px solid lightgrey;
}
.gears-ui-tabs .tab-content.bottom {
  border-bottom: 1px solid lightgrey;
}
/*****
* TABS
*****/
.gears-ui-tabs_ {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
  border-spacing: 0px;
}
.gears-ui-tabs_ .tab-container {
  height: 35px;
}
.gears-ui-tabs_ .tabs {
  position: relative;
  height: 35px;
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  box-sizing: border-box;
}
.gears-ui-tabs_ .tabs li {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 5px;
  padding: 5px 10px;
  vertical-align: bottom;
  z-index: 1;
  font-family: "Roboto Regular";
  font-size: 12px;
  color: gray;
  text-transform: uppercase;
  background: white;
  border: 1px solid lightgrey;
  cursor: pointer;
}
.gears-ui-tabs_ .tabs.top {
  padding-top: 8px;
  background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -o-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: linear-gradient(to top, #f7f7f7, #ffffff);
}
.gears-ui-tabs_ .tabs.top li {
  margin-top: 5px;
  margin-bottom: -4px;
}
.gears-ui-tabs_ .tabs.top li.active {
  z-index: 3;
  margin-top: -2px;
  padding-bottom: 10px;
  color: black;
  border-bottom: 1px solid white;
}
.gears-ui-tabs_ .tabs.bottom {
  padding-bottom: 8px;
  background-image: -moz-linear-gradient(bottom, #f2f2f2, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ffffff));
  background-image: -webkit-linear-gradient(bottom, #f2f2f2, #ffffff);
  background-image: -o-linear-gradient(bottom, #f2f2f2, #ffffff);
  background-image: linear-gradient(to bottom, #f7f7f7, #ffffff);
}
.gears-ui-tabs_ .tabs.bottom li {
  margin-bottom: 5px;
  margin-top: -2px;
}
.gears-ui-tabs_ .tabs.bottom li.active {
  z-index: 3;
  margin-top: -2px;
  padding-top: 10px;
  color: black;
  border-top: 1px solid white;
}
.gears-ui-tabs_ .tab-content-container {
  position: relative;
  height: 100%;
  vertical-align: top;
  background: white;
  box-sizing: content-box;
  z-index: 2;
}
.gears-ui-tabs_ .tab-content-container.top {
  border-top: 1px solid lightgrey;
}
.gears-ui-tabs_ .tab-content-container.bottom {
  border-bottom: 1px solid lightgrey;
}
.gears-ui-tabs_ .tab-content-container .tab-content {
  top: 0px;
  bottom: 00px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: visible;
}
/*****
* GEARS-UI-MODALS
*****/
.gears-ui-modals-fog {
  position: absolute;
  z-index: 98;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.gears-ui-modals {
  position: absolute;
  display: block;
  z-index: 99;
  visibility: hidden;
  width: 300px;
  height: auto;
  background: white;
  border: 1px solid lightgrey;
  -webkit-box-shadow: 0px 2px 27px -8px rgba(117, 113, 117, 0.9);
  -moz-box-shadow: 0px 2px 27px -8px rgba(117, 113, 117, 0.9);
  box-shadow: 0px 2px 27px -8px rgba(117, 113, 117, 0.9);
}
.gears-ui-modals.shown {
  visibility: visible;
}
.gears-ui-modals .caption-container {
  display: block;
  overflow: auto;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
  font-family: "Roboto Bold";
  text-transform: uppercase;
  color: #9E9E9E;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border-bottom: 1px solid lightgrey;
}
.gears-ui-modals .caption-container .caption {
  display: inline-block;
  float: left;
  font-size: 14px;
}
.gears-ui-modals .caption-container .close-modal {
  display: inline-block;
  float: right;
  vertical-align: middle;
  font-family: "Roboto Bold";
  font-size: 24px;
  color: gray;
  cursor: pointer;
}
.gears-ui-modals .caption-container .close-modal:hover {
  color: black;
}
.gears-ui-modals .content-container {
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid black;
}
.gears-ui-modals .content-container .content {
  border: 1px solid red;
}
.gears-ui-modals .modal-messages-container {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: #FFEBEE;
  box-sizing: border-box;
}
.gears-ui-modals .modal-messages-container .message {
  font-family: "Roboto Regular";
  font-size: 15px;
  color: #F44336;
}
.gears-ui-modals .modal-messages-container .message.success {
  color: #8DC27C;
  background: #B5DBA9;
}
/*****
* CARDS
*****/
.cards {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.cards .card {
  display: block;
  overflow: auto;
  margin-bottom: 7px;
  border: 1px solid #E0E0E0;
  cursor: pointer;
}
.cards .card:hover {
  background: #FAFAFA;
  border: 1px solid #E0E0E0;
}
.cards .card:hover .hover-visible {
  display: block;
}
.cards .card.active {
  background: #FAFAFA;
  border: 1px solid darkgrey;
}
.cards .card.active .card-header {
  border-bottom: 1px solid darkgray;
}
.cards .card .hover-visible {
  display: none;
}
.cards .card .card-img {
  display: block;
  float: left;
  width: 64px;
  height: 64px;
}
.cards .card .card-img.icon {
  width: 40px;
  height: 40px;
  margin-top: 12px;
  margin-left: 10px;
  margin-bottom: 12px;
}
.cards .card .card-header {
  margin-left: 70px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #E0E0E0;
}
.cards .card .card-content {
  margin-left: 70px;
  padding-top: 5px;
}
.table caption {
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
  font-family: "Roboto Regular";
  font-size: 13px;
  color: #BDBDBD;
}
.table td {
  padding: 10px;
}
.table.stripped tr:nth-child(even) {
  background: #F5F5F5;
}
.table.condensed caption {
  padding: 3px;
}
.table.condensed td {
  padding: 3px;
}
