<!-- BEGIN: main -->
<!DOCTYPE html>
<html lang="en" ng-app="gears.app">
<head>
    <meta charset="UTF-8">
    <title>АИС ВОЛС</title>
    <link rel="stylesheet" href="resources/styles/misc.css"/>
    <link rel="stylesheet" href="resources/styles/espreso.css"/>
    <script src="libs/angularjs/angular.min.js"></script>
</head>
<body>
    <table id="app-wrapper" class="width-100" cellpadding="0" cellspacing="0">
        <div id="app-header_">
            <div id="app-title_">
                АИС ВОЛС
            </div>

            <div id="app-menu_">
                <div id="menu-container">
                    <div class="app-menu-item"
                         ng-if="permissions.getByRuleCode(menuItem.id).enabled.value === true"
                         ng-repeat="menuItem in menu.get() | orderBy:'order' track by $index">
                        <a href="{{ menuItem.url }}"
                           ng-show="menuItem.url !== ''"
                           ng-class="{ 'active': menuItem.active === true }"
                           title="{{ menuItem.description }}">
                            <img src="{{ menuItem.icon }}" alt=""/>
                            {{ menuItem.title }}
                        </a>
                        <a ng-show="menuItem.url === ''"
                           ng-class="{ 'active': menuItem.childActive === true }"
                           title="{{ menuItem.description }}">
                            <img src="{{ menuItem.icon }}" alt=""/>
                            {{ menuItem.title }}
                            <span class="menu-item-arrow-down" ng-show="menuItem.submenu.length > 0">▼</span>
                        </a>
                        <div class="submenu hover-visible" ng-show="menuItem.submenu.length > 0">
                            <div class="app-submenu-item"
                                 ng-if="permissions.getByRuleCode(subMenuItem.id).enabled.value === true"
                                 ng-repeat="subMenuItem in menuItem.submenu | orderBy:'order' track by $index">
                                <a href="{{ subMenuItem.url }}" ng-show="subMenuItem.url !== ''" ng-class="{ 'active': subMenuItem.active === true }" title="{{ subMenuItem.description }}">
                                    <img src="{{ subMenuItem.icon }}" alt=""/>
                                    {{ subMenuItem.title }}
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--
                    <a href="{{ menuItem.url }}" class="top-menu-item"
                       ng-repeat="menuItem in menu.get() | orderBy:'order' track by $index"
                       ng-class="{ 'active': menuItem.active === true || menuItem.childActive === true }">
                        <img src="{{ menuItem.icon }}" alt=""/>
                        <span class="menu-item-title">{{ menuItem.title }}</span>
                        <span class="menu-item-arrow-down" ng-show="menuItem.submenu.length > 0">▼</span>
                        <div ng-show="menuItem.submenu.size() > 0" class="sub-menu hover-visible">


                            <div class="sub-menu-item" ng-repeat="subMenu in menuItem.submenu.items track by $id(subMenu)">
                                <a>gdfg</a>
                                    <img src="{{ subMenu.icon }}" alt=""/>
                                    <span class="menu-item-title">{{ subMenu.title }}</span>

                            </div>

                        </div>
                    </a>
                    -->
                </div>
            </div>

            <div id="app-user_" ng-controller="UserController">
                <div id="app-user-content" class="row">
                    {{ session.user.get().fname.value + " " + session.user.get().surname.value }}
                    <span class="user-position">{{ session.user.get().position.value }}</span>
                </div>
                <div class="hover-visible">
                    <div class="row padding-5">
                        <button class="button blue width-100" ng-click="changePassword()">Поменять пароль</button>
                    </div>
                    <div class="row padding-5">
                        <button class="button red width-100" ng-click="session.close(onSuccessCloseSession)">Выйти</button>
                    </div>
                </div>
            </div>
        </div>


        <!--
        <tr id="app-header">
            <td colspan="2">




                <div id="app-header-container" class="row no-overflow">

                    <div id="app-title">
                        Справочник ВОЛС
                    </div>



                    <div id="header-controls">
                        <div id="top-menu">
                            <a href="{{ menuItem.url }}" class="top-menu-item"
                               ng-repeat="menuItem in menu.items.items | orderBy:'order' track by $index"
                               ng-class="{ 'active': menuItem.active === true }">
                                <img src="{{ menuItem.icon }}" alt=""/>
                                <span class="menu-item-title">{{ menuItem.title }}</span>
                            </a>
                        </div>


                        <div id="app-user" ng-controller="UserController">
                            <div id="app-user-content" class="row">
                                {{ session.user.get().name.value + " " + session.user.get().surname.value }}
                                <span class="user-position">{{ session.user.get().position.value }}</span>
                            </div>
                            <div class="hover-visible">
                                <div class="row padding-5">
                                    <button class="button blue width-100" ng-click="changePassword()">Поменять пароль</button>
                                </div>
                                <div class="row padding-5">
                                    <button class="button red width-100" ng-click="session.close(onSuccessCloseSession)">Выйти</button>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>


            </td>
        </tr>
        -->



        <tr id="app-content">
            <td id="app-menu" ng-show="session.appData.get('showSideBar') === true">
                <!--
                <div class="menu-item"
                     ng-repeat="menuItem in menu.items.items | orderBy:'order' track by $index" ng-class="{ 'active': menuItem.active === true }">
                    <a href="{{ menuItem.url }}" title="{{ menuItem.description }}" ng-class="{ 'active': menuItem.active === true }">
                        <img src="{{ menuItem.icon }}"/>
                    </a>
                </div>
                -->
            </td>
            <td id="app-view" ng-view></td>
        </tr>
    </table>

    <modal></modal>


    <!-- Подключение библиотек и модулей -->
    <script src="libs/angularjs/angular-route.min.js"></script>
    <script src="libs/angularjs/angular-cookies.min.js"></script>
    <script src="libs/momentjs/moment-with-locales.min.js"></script>
    <script src="libs/gearsjs/gears.js"></script>
    <script src="libs/gearsjs/gears.data.js"></script>
    <script src="libs/gearsjs/gears.auth.js"></script>
    <script src="libs/gearsjs/gears.ui.js"></script>
    <script src="libs/gearsjs/gears.files.js"></script>
    <script src="modules/angular-file-upload.min.js"></script>
    <script src="modules/gears.app.js"></script>
    <script src="modules/gears.app.controllers.js"></script>
    <script src="modules/gears.app.modal.controllers.js"></script>
    <script src="modules/gears.app.filters.js"></script>
    <script src="modules/gears.app.titles.js"></script>
    <script src="modules/gears.app.nodes.js"></script>
    <script src="modules/gears.app.misc.js"></script>
    <script src="modules/gears.app.contractors.js"></script>
    <script src="modules/gears.app.users.js"></script>


    <script src="libs/gearsjs/gears.shop.js"></script>
</body>
</html>
<!-- END: main -->