<!-- BEGIN: main -->
<!DOCTYPE html>
<html lang="en" ng-app="authorization">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="resources/styles/misc.css"/>
    <link rel="stylesheet" href="resources/styles/espreso.css"/>
</head>
<body>
    <div id="authorization-box" class="row" alignment align-vertical="middle" align-horizontal="middle" ng-controller="AuthorizationController">
        <form>
            <div class="row padding-10 box-header">
                <span ng-show="auth.inRemindPasswordMode === false" ng-cloak>Авторизация</span>
                <span ng-show="auth.inRemindPasswordMode === true" ng-cloak>Напоминание пароля</span>
            </div>
            <div class="row padding-10">
                <label for="authorization-login">E-mail</label>
                <input type="text"
                       name="authorization-login"
                       id="authorization-login"
                       class="width-100"
                       ng-model="auth.username"/>
            </div>
            <div class="row padding-10" ng-show="auth.inRemindPasswordMode === false">
                <label for="authorization-password">Пароль</label>
                <a href="" class="right" ng-click="auth.remindPasswordMode()">Напомнить пароль</a>
                <input type="password"
                       name="authorization-password"
                       id="authorization-password"
                       class="width-100"
                       ng-model="auth.password"/>
            </div>
            <div class="row padding-10" ng-show="auth.inRemindPasswordMode === false">
                <button class="button blue width-100" ng-click="auth.logIn()">Войти</button>
            </div>
        </form>
        <div class="row padding-10" ng-show="auth.inRemindPasswordMode === true" ng-cloak>
            <div class="row split-5">
                <button class="button green width-100 split-10" ng-click="auth.logIn()">Напомнить пароль</button>
            </div>
            <div class="row">
                <button class="button blue width-100" ng-click="auth.remindPasswordMode()">&larr; Вернуться к авторизации</button>
            </div>
        </div>
        <div class="row" ng-show="auth.errors.username.length > 0 || auth.errors.password.length > 0" ng-cloak>
            <div class="modal-messages-container">
                <div class="message" ng-repeat="error in auth.errors.username track by $id(error)">{{ error }}</div>
                <div class="message" ng-repeat="error in auth.errors.password track by $id(error)">{{ error }}</div>
            </div>
        </div>
    </div>

    <script src="libs/angularjs/angular.min.js"></script>
    <script src="libs/angularjs/angular-route.min.js"></script>
    <script src="libs/angularjs/angular-cookies.min.js"></script>
    <script src="libs/gearsjs/gears.js"></script>
    <script src="libs/gearsjs/gears.auth.js"></script>
    <script src="libs/gearsjs/gears.ui.js"></script>
    <script src="modules/gears.authorization.js"></script>
</body>
</html>
<!-- END: main -->