<!-- BEGIN: main -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="resources/styles/misc.css"/>
    <link rel="stylesheet" href="resources/styles/espreso.css"/>
    <link rel="stylesheet" href="resources/styles/authorization.css"/>
</head>
<body>
    <div id="authorization-box" class="row">
        <table class="column width-100">
            <tr class="column-header">
                <td class="caption width-100">
                    Авторизация
                </td>
            </tr>
            <tr class="column-content-container">
                <td>
                    <div class="column-content y-scrollable padding-5">
                        <div class="row">
                            <div class="width-100 padding-10">
                                <label for="authorization-login">E-mail</label>
                                <input type="text" name="authorization-login" id="authorization-login" class="width-100"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="width-100 padding-10">
                                <label for="authorization-password">Пароль</label>
                                <a href="" class="right">Напомнить пароль</a>
                                <input type="password" name="authorization-password" id="authorization-password" class="width-100"/>
                            </div>
                        </div>
                        <div class="row padding-10">
                            <button class="button blue width-100">Войти</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</body>
</html>
<!-- END: main -->