<!--
<table class="column width-33">
    <tr class="column-header">
        <td class="caption width-100">
            Заявки
            <button class="green right"
                    ng-click="addRequest()"
                    title="Добавить заявку">
                +
            </button>
            <span class="separator right" ng-show="app.currentRequest !== undefined"></span>
            <button class="blue right"
                    ng-show="app.currentRequest !== undefined"
                    ng-click="editRequest()"
                    title="Редактировать заявку">
            </button>
            <button class="red right"
                    ng-show="app.currentRequest !== undefined"
                    ng-click="deleteRequest()"
                    title="Удалить заявку">
                -
            </button>
        </td>
    </tr>
    <tr class="column-content-container">
        <td>
            <div class="column-content y-scrollable padding-10">

                <div class="row split-20">
                    <ul class="list hover">
                        <li ng-repeat="request in titles.requests.items"
                            ng-class="{'active': request._states_.selected() === true}"
                            ng-click="selectRequest(request.id.value)">

                            <div class="row split-10">
                                <div class="row">
                                    <span class="primary-text uppercase">{{ "Заявка #" + request.id.value }}</span>
                                    <span class="secondary-text right">{{ request.added.value | timestamp:'DDMMMYYYYHHmm' }}</span>
                                </div>

                                <hr/>

                                <div class="row">
                                    <span class="secondary-text"
                                          ng-class="{'light': title._states_.selected() === true }">
                                        {{ request._backup_.data.description }}
                                    </span>
                                </div>


                            </div>

                        </li>
                    </ul>
                </div>


            </div>
        </td>
    </tr>
</table>


<table class="column width-33">
    <tr class="column-header">
        <td class="caption width-100">
            Проекты с вашим участием
        </td>
    </tr>
    <tr class="column-content-container">
        <td>
            <div class="column-content y-scrollable padding-10">

            </div>
        </td>
    </tr>
</table>
-->


<div style="height: 50%;">

    <columns>
        <column width="20" caption="Группы">
            <column-control control-class="button green round" caption="+" action="log.error('TEST')" title="Зеленая кнопочка"></column-control>
            <column-control control-class="button red round" caption="+" action="tezt()" title="Краснавя кнопочка"></column-control>
        </column>
        <column caption="Титулы" width="60" maximize="1">
            <grid class="table stripped hover width-100"
                  source="users.users.items"
                  fields="id; fio; email; phone; position; isDeleted"
                  captions="#; ФИО; e-mail; Телефон; Должность; Удален"
                  sortable="1">
            </grid>
        </column>
        <column width="20" caption="Тестовая колонка" maximize="1">
            <column-control control-class="button blue round" caption="-" title="Синяя кнопочка"></column-control>
        </column>
    </columns>

</div>



<div style="height: 50%; margin-top: 50px;">
    <tabz tabs-position="top">
        <tab caption="tab1"></tab>
        <tab caption="tab2"></tab>
    </tabz>
</div>




