<table class="column width-20">
    <tr class="column-header">
        <td class="caption width-100">
            Группы
            <button class="button green right"
                    ng-if="permissions.getByRuleCode('add_user_group').enabled.value === true"
                    ng-click="addGroup()"
                    title="Добавить группу">
                +
            </button>
        </td>
    </tr>
    <tr class="column-content-container">
        <td>
            <div class="column-content y-scrollable padding-5">

                <div class="service-message" ng-show="users.groups._states_.loaded() === false">
                    <img class="loading" src="resources/img/loader.gif" alt="Загрузка"/>
                    <span>Загрузка...</span>
                </div>

                <div class="service-message" ng-show="users.groups._states_.loaded() === true && users.groups.size() === 0">
                    Группы пользователей отсутствуют
                </div>


                <ul class="cards">
                    <li class="card"
                        ng-class="{'active': group._states_.selected() === true}"
                        ng-repeat="group in users.groups.items | orderBy:'_backup_.data.title' track by $id(group)"
                        ng-click="selectGroup(group.id.value)">
                        <img src="../resources/img/icons/user-group.png" alt="" class="card-img icon"/>
                        <div class="card-header">
                            <span>{{ group._backup_.data.title }}</span>
                            <div class="right" ng-show="app.currentUserGroup.id.value === group.id.value">
                                <button class="button round blue"
                                        title="Редактировать"
                                        ng-if="permissions.getByRuleCode('edit_user_group').enabled.value === true"
                                        ng-click="editGroup($event)">
                                    <img src="resources/img/icons/edit.png" alt=""/>
                                </button>
                                <button class="button round red"
                                        title="Удалить"
                                        ng-if="permissions.getByRuleCode('delete_user_group').enabled.value === true"
                                        ng-click="deleteGroup($event)">
                                    &times;
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="secondary-text"
                                  ng-show="users.countUsersInGroup(group.id.value) !== 0"
                                  ng-class="{'light': title._states_.selected() === true }">
                                {{ "Пользователей: " + users.countUsersInGroup(group.id.value) }}
                            </span>
                            <span class="secondary-text"
                                  ng-show="users.countUsersInGroup(group.id.value) === 0"
                                  ng-class="{'light': title._states_.selected() === true }">
                                Нет пользователей
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>

<table class="column width-50">
    <tr class="column-header">
        <td class="caption width-100">
            Пользователи
            <button class="button green right"
                    ng-if="session.permissions.get('add_user').enabled.value === true"
                    ng-click="addUser()"
                    title="Добавить пользователя">+</button>
        </td>
    </tr>
    <tr class="column-content-container">
        <td>
            <div class="column-content y-scrollable padding-5">

                <div class="service-message" ng-show="users.users._states_.loaded() === false">
                    <img class="loading" src="resources/img/loader.gif" alt="Загрузка"/>
                    <span>Загрузка...</span>
                </div>

                <div class="service-message" ng-show="users.users._states_.loaded() === true && users.users.size() === 0">
                    Пользователи отсутствуют
                </div>

                <ul class="cards">
                    <li class="card"
                        ng-class="{'active': user._states_.selected() === true}"
                        ng-repeat="user in users.users.items | byUserGroup:app.currentUserGroup.id.value | orderBy:'fio' | undeletedUsers track by $id(user)"
                        ng-click="selectUser(user.id.value)">
                        <img src="../resources/img/icons/user_.png" alt="" class="card-img icon"/>
                        <div class="card-header">
                            <span>{{ user.fio }}</span>
                            <div class="right" ng-show="app.currentUser.id.value === user.id.value">
                                <button class="button round blue"
                                        title="Редактировать"
                                        ng-if="session.permissions.get('edit_user').enabled.value === true"
                                        ng-click="editUser($event)">
                                    <img src="resources/img/icons/edit.png" alt=""/>
                                </button>
                                <button class="button round red"
                                        title="Удалить"
                                        ng-if="session.permissions.get('delete_user').enabled.value === true"
                                        ng-click="deleteUser($event)">
                                    &times;
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="secondary-text">
                                <span class="secondary-text" ng-show="user._backup_.data.groupId !== 0">{{ "Группа: " + users.groups.find("id", user._backup_.data.groupId).title.value }} &nbsp; &nbsp; &nbsp;</span>
                                <span class="secondary-text" ng-show="user._backup_.data.position !== ''">{{ "Должность: " + user._backup_.data.position }} &nbsp; &nbsp; &nbsp;</span>
                                <span class="secondary-text">{{ "E-mail: " + user._backup_.data.email }} &nbsp; &nbsp; &nbsp;</span>
                                <span class="secondary-text" ng-show="user._backup_.data.phone !== ''">{{ "Телефон: " + user._backup_.data.phone }} &nbsp; &nbsp; &nbsp;</span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>


<table class="column width-30">
    <tr class="column-header">
        <td class="caption width-100">
            Права пользователя
            <!--
            <button class="button green right"
                    ng-if="session.user.get().permissions.add_user.enabled.value === true"
                    ng-click="addUser()"
                    title="Добавить пользователя">
                +
            </button>
            -->
        </td>
    </tr>
    <tr class="column-content-container">
        <td>
            <div class="column-content y-scrollable padding-5">

                <div class="service-message" ng-show="app.currentUserPermissions._states_.loaded() === false">
                    <img class="loading" src="resources/img/loader.gif" alt="Загрузка"/>
                    <span>Загрузка...</span>
                </div>

                <div class="service-message" ng-show="app.currentUser === undefined">
                    Выберите пользователя
                </div>

                <div class="row" ng-if="app.currentUser !== undefined && app.currentUserPermissions._states_.loaded() === true">
                    <table class="table stripped width-100">
                        <tbody>
                        <tr ng-repeat="rule in permissions.rules.getAll() | orderBy:'id.value' track by $index">
                            <td>{{ rule.title.value }}</td>
                            <td class="text-centered">
                                <input type="checkbox"
                                       name=""
                                       id=""
                                       ng-model="app.currentUserPermissions.find('ruleId', rule.id.value).enabled.value"
                                       ng-disabled="app.currentUserPermissions.find('ruleId', rule.id.value)._states_.loading() === true || permissions.getByRuleCode('edit_user_permissions').enabled.value === false"
                                       ng-change="onChangePermission(rule.id.value, app.currentUser.id.value, app.currentUserPermissions.find('ruleId', rule.id.value).enabled.value)"
                                />

                                <!--
                                <input type="checkbox"
                                       name=""
                                       id=""
                                       ng-show="app.currentUserPermissions.find('ruleId', permission.ruleId.value) === false"
                                       ng-model="false"
                                       ng-disabled="permission._states_.loading() === true"
                                       ng-change="onChangePermission(permission.id.value, app.currentUser.id.value, app.currentUserPermissions.find('ruleId', permission.id.value).enabled.value)"
                                />
                                -->
                            </td>
                        </tr>
                        </tbody>
                    </table>




                </div>

                <!--
                <ul ng-repeat="group in users.permissions.items | groupByPermission track by $index">
                    {{ group.id }}
                </ul>
                -->


            </div>
        </td>
    </tr>
</table>