<!--
<div class="gears-ui-tabs">

    <ul class="tabs top" ng-if="tabsPosition === 'top'">
        <li ng-repeat="tab in tabsSource"
            ng-class="{ 'active': tab.isActive === true }"
            ng-click="select(tab.id)">{{ tab.title }}
        </li>
    </ul>
    <div class="tab-content"
         ng-class="{'top': tabsPosition === 'top', 'bottom': tabsPosition === 'bottom'}"
         ng-include="currentTab.template">
    </div>
    <ul class="tabs bottom" ng-if="tabsPosition === 'bottom'">
        <li ng-repeat="tab in tabsSource"
            ng-class="{ 'active': tab.isActive === true }"
            ng-click="select(tab.id)">{{ tab.title }}
        </li>
    </ul>
</div>
-->



<table class="gears-ui-tabs_">
    <tr ng-if="tabsPosition === 'top'">
        <td class="tab-container">
            <ul class="tabs top" ng-if="tabsPosition === 'top'">
                <li ng-repeat="tab in tabsSource"
                    ng-class="{'active': tab.isActive === true}"
                    ng-click="select(tab.id)">{{ tab.title }}
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td class="tab-content-container"
            ng-class="{'top': tabsPosition === 'top', 'bottom': tabsPosition === 'bottom'}">
            <div class="tab-content" ng-include="currentTab.template" onload="onLoadTemplate()"></div>
        </td>
    </tr>
    <tr ng-if="tabsPosition === 'bottom'">
        <td>
            <ul class="tabs bottom" ng-if="tabsPosition === 'bottom'">
                <li ng-repeat="tab in tabsSource"
                    ng-class="{ 'active': tab.isActive === true }"
                    ng-click="select(tab.id)">{{ tab.title }}
                </li>
            </ul>
        </td>
    </tr>
</table>
