<div class="pane-container width-100">

    <!-- Новый титул -->
    <div class="pane width-100">
        <div class="header">
            <span class="caption">Новый титул</span>
        </div>
        <div id="new-title-template" class="content y-scrollable no-padding">
            <div class="row height-100">
                <div class="width-80 height-100">
                    <div class="row">
                        <div class="width-20">20</div>
                        <div class="width-60">
                            <input type="text" class="width-60 centered" name="" id=""/>
                        </div>
                        <div class="width-20">20</div>
                    </div>
                    <div class="row">
                        <div class="width-20">20</div>
                        <div class="width-30">
                            <div class="row">
                                <div class="width-100">
                                    <select class="width-100" name="" id=""></select>
                                </div>
                            </div>
                        </div>
                        <div class="width-30">end node</div>
                        <div class="width-20">20</div>
                    </div>
                </div>
                <div class="width-20 height-100 service-panel">

                </div>
            </div>
        </div>
    </div>

</div>