<table class="column width-100">
    <tr class="column-header">
        <td class="caption">Новый титул</td>
    </tr>
    <tr class="column-content-container">
        <td>
            <div class="column-content y-scrollable">

                <table class="column width-80">
                    <tr class="column-content-container height-100">
                        <td class="width-100 height-100">
                            <div class="column-content">


                                <table class="column width-30" ng-show="app.currentRequest !== undefined">
                                    <tr class="column-content-container height-100">
                                        <td class="width-100 height-100 height-100" id="new-title-request">
                                            <div class="column-content padding-10" style="padding-top: 50px;">
                                                <div class="width-90 centered">
                                                    <div class="row split-30">
                                                        <span class="uppercase">{{ "Заявка #" + app.currentRequest.id.value }}</span>
                                                        <span class="gray right">{{ app.currentRequest.added.value | timestamp:'DDMMMYYYYHHmm' }}</span>
                                                    </div>
                                                    <div class="row split-20">
                                                        <span class="">{{ app.currentRequest.description.value }}</span>
                                                    </div>
                                                    <div class="row split-5">
                                                        <span class="gray">Начало проекта: </span>
                                                        <span>{{ app.currentRequest.start.value }}</span>
                                                    </div>
                                                    <div class="row split-20">
                                                        <span class="gray">Конец проекта: </span>
                                                        <span>{{ app.currentRequest.end.value }}</span>
                                                    </div>
                                                    <div class="row split-20">
                                                        <span class="gray">Добавил: </span>
                                                        <span>{{ users.users.find("id", app.currentRequest.userId.value).fio }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>


                                <table class="column no-border" ng-class="{ 'width-70': app.currentRequest !== undefined, 'width-100': app.currentRequest === undefined }">
                                    <tr class="column-content-container height-100">
                                        <td class="width-100">
                                            <div id="new-title-template-content" class="column-content">

                                                <div class="row width-100 height-100">
                                                    <div class="width-100">

                                                        <div class="row split-20">
                                                            <div class="width-70 centered">
                                                                <div class="width-100">
                                                                    <label for="new-title-title">Наименование титула</label>
                                                                    <input type="text"
                                                                           name="new-title-title"
                                                                           id="new-title-title"
                                                                           class="width-100"
                                                                           placeholder="Наименование титула"
                                                                           ng-model="newTitle.title.value"/>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row split-30">
                                                            <div class="width-70 centered">
                                                                <label for="new-title-description">Описание титула</label>
                                                                <input type="text"
                                                                       name="new-title-description"
                                                                       id="new-title-description"
                                                                       class="width-100"
                                                                       placeholder="Описание титула"
                                                                       ng-model="newTitle.description.value"/>
                                                            </div>
                                                        </div>


                                                        <div class="row split-30">
                                                            <div class="width-70 centered">

                                                                <div class="row">

                                                                    <div class="width-45">
                                                                        <div class="row split-20">
                                                                            <label for="new-title-start-node-type">Тип объекта в начале</label>
                                                                            <select name=new-title-start-node-type""
                                                                                    id="new-title-start-node-type"
                                                                                    class="width-100"
                                                                                    ng-model="newTitle.startNodeTypeId.value"
                                                                                    ng-options="type.id.value as type.title.value for type in nodes.types.items | onlyBasicNodes">
                                                                            </select>
                                                                        </div>
                                                                        <div class="row split-20" ng-show="newTitle.startNodeTypeId.value === 1">
                                                                            <label for="new-title-start-node-powerline">Линия</label>
                                                                            <select name="new-title-start-node-power-line"
                                                                                    id="new-title-start-node-powerline"
                                                                                    class="width-100"
                                                                                    ng-model="startNodePowerLineId"
                                                                                    ng-options="powerline.id.value as powerline.display for powerline in misc.powerLines.items"
                                                                                    ng-change="selectStartNodePowerLine(startNodePowerLineId)">
                                                                            </select>
                                                                        </div>
                                                                        <div class="row" ng-show="newTitle.startNodeTypeId.value === 1 && startNodePowerLineId !== 0">
                                                                            <label for="new-title-start-node-pylon-number"># Опоры</label>
                                                                            <input type="text"
                                                                                   name="new-title-start-node-pylon-number"
                                                                                   id="new-title-start-node-pylon-number"
                                                                                   class="width-100"
                                                                                   placeholder="# Опоры"
                                                                                   ng-model="newTitle.startNodeId.value"
                                                                                   ng-disabled="startNodePylons._states_.loaded() === false"
                                                                                   typeahead
                                                                                   typeahead-data-source="startNodePylons.items"
                                                                                   typeahead-items-limit="10"
                                                                                   typeahead-model-field="id"
                                                                                   typeahead-display-field="number"/>
                                                                        </div>
                                                                    </div>

                                                                    <div class="width-10 text-centered">&mdash;</div>

                                                                    <div class="width-45">
                                                                        <div class="row split-20">
                                                                            <label for="new-title-end-node-type">Тип объекта в конце</label>
                                                                            <select name=new-title-end-node-type""
                                                                                    id="new-title-end-node-type"
                                                                                    class="width-100"
                                                                                    ng-model="newTitle.endNodeTypeId.value"
                                                                                    ng-options="type.id.value as type.title.value for type in nodes.types.items | onlyBasicNodes">
                                                                            </select>
                                                                        </div>
                                                                        <div class="row split-20" ng-show="newTitle.endNodeTypeId.value === 1">
                                                                            <label for="new-title-end-node-powerline">Линия</label>
                                                                            <select name="new-title-end-node-power-line"
                                                                                    id="new-title-end-node-powerline"
                                                                                    class="width-100"
                                                                                    ng-model="endNodePowerLineId"
                                                                                    ng-options="powerline.id.value as powerline.display for powerline in misc.powerLines.items"
                                                                                    ng-change="selectEndNodePowerLine(endNodePowerLineId)">
                                                                            </select>
                                                                        </div>
                                                                        <div class="row" ng-show="endNodePowerLineId !== 0">
                                                                            <label for="new-title-end-node-pylon-number"># Опоры</label>
                                                                            <input type="text"
                                                                                   name="new-title-end-node-pylon-number"
                                                                                   id="new-title-end-node-pylon-number"
                                                                                   class="width-100" placeholder="# Опоры"
                                                                                   ng-model="newTitle.endNodeId.value"
                                                                                   ng-disabled="endNodePylons._states_.loaded() === false"
                                                                                   typeahead
                                                                                   typeahead-data-source="endNodePylons.items"
                                                                                   typeahead-items-limit="10"
                                                                                   typeahead-model-field="id"
                                                                                   typeahead-display-field="number"/>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>


                            </div>
                        </td>
                    </tr>
                </table>



                <!--
                <table class="column width-80 height-100">
                    <tr class="column-content-container height-100">
                        <td id="new-title-template-content" class="width-100 height-100">
                            <div class="row width-100 height-100">

                                <div class="width-100">


                                    <div class="row split-20">
                                        <div class="width-70 centered">
                                            <div class="width-100">
                                                <label for="new-title-title">Наименование титула</label>
                                                <input type="text"
                                                       name="new-title-title"
                                                       id="new-title-title"
                                                       class="width-100"
                                                       placeholder="Наименование титула"
                                                       ng-model="newTitle.title.value"/>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row split-30">
                                        <div class="width-70 centered">
                                            <label for="new-title-description">Описание титула</label>
                                            <input type="text"
                                                   name="new-title-description"
                                                   id="new-title-description"
                                                   class="width-100"
                                                   placeholder="Описание титула"
                                                   ng-model="newTitle.description.value"/>
                                        </div>
                                    </div>


                                    <div class="row split-30">
                                        <div class="width-70">
                                            <div class="width-20">
                                                <div class="row">
                                                    <div class="width-100">
                                                        <div class="row block-title text-centered">
                                                            Объект в начале титула
                                                        </div>


                                                        <div class="row node-icon pylon big"></div>


                                                        <div class="row split-10">
                                                            <label for="new-title-start-node-type">Тип объекта</label>
                                                            <select name=new-title-start-node-type""
                                                                    id="new-title-start-node-type"
                                                                    class="width-100"
                                                                    ng-model="newTitle.startNodeTypeId.value"
                                                                    ng-options="type.id.value as type.title.value for type in nodes.types.items | onlyBasicNodes">
                                                            </select>
                                                        </div>


                                                        <div class="row split-10"
                                                             ng-show="newTitle.startNodeTypeId.value === 1">
                                                            <label for="new-title-start-node-powerline">Линия</label>
                                                            <select name="new-title-start-node-power-line"
                                                                    id="new-title-start-node-powerline"
                                                                    class="width-100"
                                                                    ng-model="startNodePowerLineId"
                                                                    ng-options="powerline.id.value as powerline.display for powerline in misc.powerLines.items"
                                                                    ng-change="selectStartNodePowerLine(startNodePowerLineId)">
                                                            </select>
                                                        </div>


                                                        <div class="row" ng-show="newTitle.startNodeTypeId.value === 1">
                                                            <label for="new-title-start-node-pylon-number"># Опоры</label>
                                                            <input type="text"
                                                                   name="new-title-start-node-pylon-number"
                                                                   id="new-title-start-node-pylon-number"
                                                                   class="width-100" placeholder="# Опоры"
                                                                   ng-model="newTitle.startNodeId.value"
                                                                   ng-disabled="startNodePylons._states_.loaded() === false"
                                                                   typeahead
                                                                   typeahead-data-source="startNodePylons.items"
                                                                   typeahead-items-limit="10"
                                                                   typeahead-model-field="id"
                                                                   typeahead-display-field="number"/>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <div class="row split-30">
                                        <div class="width-20">
                                            <div class="row">
                                                <div class="width-100">
                                                    <div class="row block-title text-centered">
                                                        Объект в начале титула
                                                    </div>



                                                    <div class="row node-icon pylon big"></div>

                                    </div>

                                </div>
                            </div>

                                                    <div class="row split-10">
                                                        <label for="new-title-start-node-type">Тип объекта</label>
                                                        <select name=new-title-start-node-type""
                                                                id="new-title-start-node-type"
                                                                class="width-100"
                                                                ng-model="newTitle.startNodeTypeId.value"
                                                                ng-options="type.id.value as type.title.value for type in nodes.types.items | onlyBasicNodes">
                                                        </select>
                                                    </div>
                        </td>
                    </tr>
                </table>
                -->

                <table class="column width-20 service-panel">
                    <tr class="column-content-container height-100">
                        <td class="width-100 service-panel">
                            <div class="column-content">

                                <div class="row split-10">
                                    <div class="width-100 text-centered">
                                        <button class="green width-80 centered" ng-click="validate()">Добавить титул
                                        </button>
                                    </div>
                                </div>

                                <div class="row split-30">
                                    <div class="width-100 text-centered">
                                        <button class="blue width-80 centered" ng-click="gotoTitles()">Перейти в раздел
                                            титулов
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="width-100 text-centered messages-container errors">
                                        <div class="width-80 centered message-item error text-left"
                                             ng-repeat="error in errors track by $id(error)">{{ error }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row" ng-show="newTitle._states_.loaded() === true">
                                    <div class="width-100 text-centered messages-container success">
                                        <div class="width-80 centered message-item success text-left">Титул успешно
                                            добавлен
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </td>
    </tr>
</table>

