<table class="column width-20">
    <tr class="column-header">
        <td class="caption width-100">
            Титулы
            <button class="button green right" ng-click="gotoAddTitle()">+</button>
        </td>

    </tr>
    <tr class="column-content-container">
        <td>
            <div class="column-content y-scrollable padding-5">
                <!--
                <ul class="list hover">
                    <div class="service-message" ng-show="titles.titles._states_.loaded() === false">
                        <img class="loading" src="resources/img/loader.gif" alt="Загрузка"/>
                        <span>Загрузка...</span>
                    </div>
                    <li ng-repeat="title in titles.titles.items track by $id(title)"
                        ng-class="{'active': title._states_.selected() === true}"
                        ng-click="selectTitle(title.id.value)">
                        <span class="primary-text">{{ title.title.value }}</span><br>
                        <span class="secondary-text" ng-class="{'light': title._states_.selected() === true }">
                            {{ titles.statuses.find("id", title.statusId.value).title.value }}
                        </span>
                    </li>
                </ul>
                -->


                <ul class="cards">
                    <li class="card"
                        ng-class="{'active': title._states_.selected() === true}"
                        ng-repeat="title in titles.titles.items | orderBy:'id.value' track by $id(title)"
                        ng-click="selectTitle(title.id.value)">
                        <img src="../resources/img/icons/title.png" alt="" class="card-img icon"/>
                        <div class="card-header">
                            <span>{{ title._backup_.data.title }}</span>
                            <div class="right" ng-show="app.currentTitle.id.value === title.id.value">
                                <button class="button round blue" title="Редактировать" ng-click="editType($event)">
                                    <img src="resources/img/icons/edit.png" alt=""/>
                                </button>
                                <button class="button round red" title="Удалить" ng-click="deleteType($event)">&times;</button>
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="secondary-text">
                            {{ titles.statuses.find("id", title.statusId.value).title.value }}
                        </span>
                        </div>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>

<table class="column width-20">
    <tr class="column-header">
        <td class="caption">Участки</td>
    </tr>
    <tr class="column-content-container">
        <td>
            <div class="column-content y-scrollable padding-5">
                <div class="service-message" ng-show="app.currentTitle === undefined">
                    Выберите титул
                </div>
                <div class="service-message" ng-show="app.currentTitle !== undefined">
                    В выбранном титуле отсутствуют участки
                </div>
            </div>
        </td>
    </tr>
</table>


<table class="column width-60">
    <tr class="column-header">
        <td class="caption width-100">
            Подробности
            <div class="button-container" ng-show="app.currentTitleTabId === 2">
                <button class="green right"
                        title="Добавить этап работ"
                        ng-click="addPlanItem()">
                    +
                </button>
                <span class="separator right" ng-show="app.currentBuildingPlanItem !== undefined"></span>
                <button class="blue right"
                        title="Редактировать этап работ"
                        ng-show="app.currentBuildingPlanItem !== undefined"
                        ng-click="editPlanItem(app.currentBuildingPlanItem)">
                </button>
                <button class="red right"
                        ng-show="app.currentBuildingPlanItem !== undefined"
                        title="Удалить этап работ"
                        ng-click="deletePlanItem()">
                </button>
            </div>
            <div class="button-container" ng-show="app.currentTitleTabId === 4">
                <button class="green right"
                        title="Добавить рабочую коммиссию"
                        ng-click="addWorkingCommission()">
                    +
                </button>
                <span class="separator right" ng-show="app.currentWorkingCommission !== undefined"></span>
                <button class="blue right"
                        title="Редактировать рабочую коммиссию"
                        ng-show="app.currentWorkingCommission !== undefined"
                        ng-click="editWorkingCommission(app.currentWorkingCommission)">
                </button>
                <button class="red right"
                        ng-show="app.currentWorkingCommission !== undefined"
                        title="Удалить рабочую коммиссию"
                        ng-click="deleteWorkingCommission()">
                </button>
            </div>
        </td>
    </tr>
    <tr class="column-content-container">
        <td>
            <div class="column-content no-padding">
                <div class="service-message" ng-show="app.currentTitle === undefined">
                    Выберите титул
                </div>
                <div class="width-100 height-100">
                    <tabs tabs-source="tabs" tabs-position="bottom" on-tab-select="onTabSelect" ng-show="app.currentTitle !== undefined"></tabs>
                </div>
                </div>
            </div>
        </td>
    </tr>
</table>


<!--
<div class="pane-container width-100">
-->

        <!-- Титулы -->
        <!--
        <div class="pane width-15">
            <div class="header">
                <span class="caption">Титулы</span>
                <button class="blue right" title="Редактировать титул" ng-show="app.currentTitle !== undefined" ng-click="gotoEditTitle(app.currentTitle.id.value)"></button>
                <button class="red right" title="Удалить титул" ng-show="app.currentTitle !== undefined">-</button>
                <span class="separator right" ng-show="app.currentTitle !== undefined"></span>
                <button class="green right" title="Добавить титул" ng-click="gotoAddTitle()">+</button>
            </div>
            <div class="content y-scrollable">
                <div class="list-item"
                     ng-class="{'active': title._states_.selected() === true}"
                     ng-repeat="title in titles.titles.items track by $id(title)"
                     ng-click="selectTitle(title.id.value)">
                    {{ title.title.value }}<br>
                    {{ title.length.value + " км" }}
                </div>
                <div class="service-message" ng-show="titles.titles._states_.loaded() === false">
                    <img class="loading" src="resources/img/loader.gif" alt="Звгрузка"/>
                    <span>Загрузка...</span>
                </div>
            </div>
        </div>
        -->




        <!-- Участки титула -->
    <!--
        <div class="pane width-15">
            <div class="header">
                <span class="caption">Участки</span>
                <button class="blue right" title="Редактировать участок" ng-show="app.currentTitlePart !== undefined"></button>
                <button class="red right" title="Удалить участок" ng-show="app.currentTitlePart !== undefined">-</button>
                <span class="separator right" ng-show="app.currentTitlePart !== undefined"></span>
                <button class="green right" title="Добавить участок">+</button>
            </div>
            <div class="content y-scrollable">
                <div class="service-message" ng-show="app.currentTitle === undefined">
                    Выберите титул
                </div>
                <div class="service-message">
                    В выбранном титуле отсутствуют участки
                </div>
            </div>
        </div>
        -->

        <!-- Подробности -->
    <!--
        <div class="pane width-70">
            <div class="header">
                <span class="caption">Подробности</span>
            </div>
            <div class="content no-padding">
                <div class="service-message" ng-show="app.currentTitle === undefined">
                    Выберите титул
                </div>
                <div class="row height-100">
                    <div class="width-100 height-100">
                        <tabs tabs-source="tabs" tabs-position="top" ng-show="app.currentTitle !== undefined"></tabs>
                    </div>
                </div>
            </div>
        </div>
        -->

<!--
</div>
-->