<div class="pane-container width-100">

    <!-- Титулы -->
    <div class="pane width-15">
        <div class="header">
            <span class="caption">Титулы</span>
            <button class="blue right" title="Редактировать титул" ng-show="app.currentTitle !== undefined" ng-click="gotoEditTitle(app.currentTitle.id.value)"></button>
            <button class="red right" title="Удалить титул" ng-show="app.currentTitle !== undefined">-</button>
            <span class="separator right" ng-show="app.currentTitle !== undefined"></span>
            <button class="green right" title="Добавить титул" ng-click="gotoAddTitle()">+</button>
        </div>
        <div class="content y-scrollable">
            <div class="list-item"
                 ng-class="{'active': title._states_.selected() === true}"
                 ng-repeat="title in titles.titles.items track by $id(title)"
                 ng-click="selectTitle(title.id.value)">
                {{ title.title.value }}<br>
                {{ title.length.value + " км" }}
            </div>
            <div class="service-message" ng-show="titles.titles._states_.loaded() === false">
                <img class="loading" src="resources/img/loader.gif" alt="Звгрузка"/>
                <span>Загрузка...</span>
            </div>
        </div>
    </div>

    <!-- Участки титула -->
    <div class="pane width-15">
        <div class="header">
            <span class="caption">Участки</span>
            <button class="blue right" title="Редактировать участок" ng-show="app.currentTitlePart !== undefined"></button>
            <button class="red right" title="Удалить участок" ng-show="app.currentTitlePart !== undefined">-</button>
            <span class="separator right" ng-show="app.currentTitlePart !== undefined"></span>
            <button class="green right" title="Добавить участок">+</button>
        </div>
        <div class="content y-scrollable">
            <div class="service-message" ng-show="app.currentTitle === undefined">
                Выберите титул
            </div>
            <div class="service-message">
                В выбранном титуле отсутствуют участки
            </div>
        </div>
    </div>

    <!-- Подробности -->
    <div class="pane width-70">
        <div class="header">
            <span class="caption">Подробности</span>
        </div>
        <div class="content no-padding">
            <div class="row height-100">
                <div class="width-100 height-100">
                    <tabs tabs-source="tabs" class="height-100"></tabs>
                </div>
            </div>
        </div>
    </div>

</div>