<script type="text/ng-template" id="files">
    <ul class="file-tree inner">
        <li ng-repeat="inner_item in this.items.items track by $id(inner_item)"
            ng-init="last_in_line = $last; in_the_middle = $middle; first_in_line = $first"
            ng-class="{'last-in-line': last_in_line === true && inner_item.parentPath !== '', 'in-the-middle': in_the_middle === true, 'first-in-line': first_in_line === true, 'only-one': this.items.size() === 1, 'last-in-parent': this.parent_last_in_line === true }">
            <div class="expander-container" ng-init="first_in_line = $first; last_in_line = $last; middle_in_line = $middle">
                <div class="expander exp-top-left" ng-class="{'first-in-line': first_in_line === true}">
                    <span class="collapse" ng-show="inner_item.__class__ === 'Folder' && inner_item.isEmpty.value === false && inner_item.isExpanded == false" ng-click="files.items.expand(inner_item.path.value)">+</span>
                    <span class="collapse" ng-show="inner_item.__class__ === 'Folder' && inner_item.isExpanded === true" ng-click="files.items.collapse(inner_item.path.value)">-</span>
                </div>
                <div class="expander exp-top-right" ng-class="{'first-in-line' : first_in_line === true, 'middle-in-line': middle_in_line === true}"></div>
                <div class="expander exp-bottom-left"></div>
                <div class="expander exp-bottom-right" ng-class="{'last-in-line' : last_in_line === true}"></div>
            </div>
            <div class="item-container">
                <div class="item-icon" ng-class="{'folder': inner_item.__class__ === 'Folder', 'file': inner_item.__class__ === 'File'}"></div>
                <div class="item-content">
                    <a href="{{ inner_item.url.value }}" ng-show="inner_item.__class__ === 'File'">{{ inner_item.title.value }}</a>
                    <span ng-show="inner_item.__class__ === 'Folder'">{{ inner_item.title.value }}</span><br>
                    <span class="item-description" ng-show="inner_item.__class__ === 'Folder'">Папка</span>
                    <span class="item-description" ng-show="inner_item.__class__ === 'File'">{{ inner_item.size.value }}</span>
                </div>
            </div>
            <div ng-include="'files'"
                 ng-if="inner_item.__class__ === 'Folder' && inner_item.items.size() > 0"
                 ng-show="inner_item.isExpanded === true"
                 ng-init="this.items = scope.files.items.getFolderContent(inner_item.path.value); this.scope = scope;">
            </div>
        </li>
    </ul>
</script>



<div class="padding-10" ng-controller="DocumentsController">
   <ul class="file-tree">
       <li ng-repeat="item in files.items.root track by $id(item)">
               <div class="expander-container first-line" ng-init="first_in_line = $first; last_in_line = $last; middle_in_line = $middle">
                   <div class="expander exp-top-left">
                       <span class="collapse" ng-show="item.__class__ === 'Folder' && item.isEmpty.value === false && item.isExpanded == false" ng-click="files.items.expand(item.path.value)">+</span>
                       <span class="collapse" ng-show="item.__class__ === 'Folder' && item.isExpanded === true" ng-click="files.items.collapse(item.path.value)">-</span>
                   </div>
                   <div class="expander exp-top-right" ng-class="{'first-in-line' : first_in_line === true, 'middle-in-line': middle_in_line === true}"></div>
                   <div class="expander exp-bottom-left"></div>
                   <div class="expander exp-bottom-right"ng-class="{'last-in-line' : last_in_line === true}"></div>
               </div>
           <div class="item-container">
               <div class="item-icon" ng-class="{'folder': item.__class__ === 'Folder', 'file': item.__class__ === 'File'}"></div>
               <div class="item-content">
                   <a href="{{ item.url.value }}" ng-show="item.__class__ === 'File'">{{ item.title.value }}</a>
                   <span ng-show="item.__class__ === 'Folder'">{{ item.title.value }}</span><br>
                   <span class="item-description" ng-show="item.__class__ === 'Folder'">Папка</span>
                   <span class="item-description" ng-show="item.__class__ === 'File'">{{ item.size.value }}</span>
               </div>
           </div>
           <div ng-include="'files'"
                ng-if="item.__class__ === 'Folder' && item.items.size() > 0"
                ng-show="item.isExpanded === true"
                ng-init="this.items = files.items.getFolderContent(item.path.value); scope = this; parent_last_in_line = $last">
           </div>
       </li>
   </ul>
</div>