<div class="padding-10" ng-controller="WorkingCommissionsController">
<!--
    <div class="row card padding-10" ng-repeat="commission in titles.workingCommissions.items track by $id(commission)">
        <div class="row">
            <span class="caption">{{ "Рабочая коммиссия от " + (commission.date.value | timestamp: 'DDMMMYYYY') }}</span>
            <button class="blue round hover-visible right"></button>
        </div>
        <hr/>
        <div class="row">
            <div class="width-50 padding-10">
                <div class="row width-100 split-10">
                    <span class="sub-caption">Замечания, выявленные коммиссией</span>
                </div>
                <div class="row split-10">
                    <div class="width-90">
                        <div class="row">
                            <span class="primary-text">Заменить крепление на опоре #45 ВЛ-87.</span>
                        </div>
                        <div class="row">
                            <span class="secondary-text">Выполнить до: </span>
                            <span class="secondary-text dark">20 сен 2015</span>&nbsp; &nbsp; &nbsp;
                        </div>
                    </div>
                    <div class="width-10">
                        <input type="checkbox" name="" id=""/>
                    </div>
                </div>

                <div class="row split-10">
                    <div class="width-90">
                        <div class="row">
                            <span class="primary-text">Устранить повреждение опоры #24 ВЛ-86.</span>
                        </div>
                        <div class="row">
                            <span class="secondary-text">Выполнить до: </span>
                            <span class="secondary-text dark">20 сен 2015</span>&nbsp; &nbsp; &nbsp;
                        </div>
                    </div>
                    <div class="width-10">
                        <input type="checkbox" name="" id=""/>
                    </div>
                </div>

                <div class="row">
                    <div class="row">
                        <span class="primary-text">Устранить повреждение опоры #51 ВЛ-86.</span>
                    </div>
                    <div class="row">
                        <span class="secondary-text">Выполнить до: </span>
                        <span class="secondary-text dark">20 сен 2015</span>&nbsp; &nbsp; &nbsp;
                    </div>
                </div>

            </div>
            <div class="width-50">
                <div class="row width-100 split-10">
                    <span class="sub-caption">Документы по итогам коммиссии</span>
                </div>
            </div>
        </div>
    </div>

-->

</div>
