<div class="width-100 height-100" ng-controller="RequestDetailsController">
    <table class="column no-border width-100">
        <tr class="column-content-container">
            <td>
                <div class="column-content y-scrollable padding-10">
                    <!--
                    <div class="row">
                        <span class="request-title left">{{ "Заявка #" + app.currentRequest.id.value }}</span>
                        <span class="right secondary-text">{{ "от " + (app.currentRequest.added.value | timestamp:'DDMMMYYYYHHmm') }}</span>
                    </div>
                    <hr>
                    -->

                    <div class="row split-10">
                        <div class="row padding-5 secondary-text">Наименование объекта</div>
                        <div class="row padding-5">{{ app.currentRequest.title.value }}</div>
                    </div>
                    <div class="row split-10">
                        <div class="row padding-5 secondary-text">Вид строительства</div>
                        <div class="row padding-5">{{ titles.requestTypes.find("id", app.currentRequest.requestTypeId.value).title.value }}</div>
                    </div>
                    <div class="row split-10">
                        <div class="row padding-5 secondary-text">Общая информация об объекте</div>
                        <div class="row padding-5">{{ app.currentRequest.description.value }}</div>
                    </div>
                    <div class="row split-10">
                        <div class="row padding-5 secondary-text">Необходимые виды ресурсов электроэнергетики</div>
                        <div class="row padding-5">{{ app.currentRequest.resources.value }}</div>
                    </div>
                    <div class="row split-10">
                        <div class="row padding-5 secondary-text">Инвестор</div>
                        <div class="row padding-5">{{ contractors.contractors.find("id", app.currentRequest.investorId.value).title.value }}</div>
                    </div>

                    <div class="row split-10 width-33">
                        <div class="row padding-5 secondary-text">Титул</div>
                        <div class="row padding-5">
                            <button class="button blue big width-100">Перейти к титулу</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="width-33 padding-5">
                            <div class="row secondary-text split-10">Технические условия</div>
                            <div class="row" ng-show="app.currentRequest.tu.value === false">
                                <attachable
                                        title="Загрузить"
                                        post-data="app.currentUploaderData"
                                        url="serverside/controllers/uploader.php"
                                        init="tuInit"
                                        on-complete="onSuccessUploadTU">
                                </attachable>
                            </div>
                            <div class="row text-centered split-5" ng-show="app.currentRequest.tu.value === true">
                                <a class="button blue width-100"
                                   href="{{ 'serverside/controllers/downloader.php?docType=tu&requestId=' + app.currentRequest.id.value}}">
                                    Скачать
                                </a>
                            </div>
                            <div class="row text-centered split-5" ng-show="app.currentRequest.tu.value === true">
                                <attachable
                                        title="Заменить"
                                        post-data="app.currentUploaderData"
                                        url="serverside/controllers/uploader.php"
                                        init="tuInit"
                                        on-complete="onSuccessUploadTU">
                                </attachable>
                            </div>
                        </div>

                        <div class="width-33 padding-5">
                            <div class="row secondary-text split-10">Генеральное соглашение</div>
                            <div class="row" ng-show="app.currentRequest.genSogl.value === false">
                                <attachable
                                        title="Загрузить"
                                        post-data="app.currentUploaderData"
                                        url="serverside/controllers/uploader.php"
                                        init="gsInit"
                                        on-complete="onSuccessUploadGS">
                                </attachable>
                            </div>
                            <div class="row text-centered split-5" ng-show="app.currentRequest.genSogl.value === true">
                                <a class="button blue width-100"
                                   href="{{ 'serverside/controllers/downloader.php?docType=gs&requestId=' + app.currentRequest.id.value}}">
                                    Скачать
                                </a>
                            </div>
                            <div class="row text-centered split-5" ng-show="app.currentRequest.genSogl.value === true">
                                <attachable
                                        title="Заменить"
                                        post-data="app.currentUploaderData"
                                        url="serverside/controllers/uploader.php"
                                        init="gsInit"
                                        on-complete="onSuccessUploadGS">
                                </attachable>
                            </div>
                        </div>
                        <div class="width-33 padding-5">
                            <div class="row secondary-text split-10">ДОУД</div>
                            <div class="row">
                                <label for="request-doud-upload" class="label-button">Загрузить</label>
                                <input type="file" id="request-doud-upload" name="request-doud-upload"/>
                            </div>
                            <div class="row text-centered split-5"><button class="button blue width-100">Скачать</button></div>
                            <div class="row text-centered split-5"><button class="button blue width-100">Заменить</button></div>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
    </table>
</div>
