<div class="width-100 height-100" ng-controller="RequestDocumentsController">
    <table class="column no-border width-100">
        <tr class="column-content-container">
            <td>
                <div class="column-content y-scrollable padding-10">
                    <div class="service-message" ng-show="app.currentRequestStatusDocs.size() === 0 && app.currentRequestStatusDocs._states_.loaded() === true">
                        Документы, относящиеся к заявке отсутствуют
                    </div>
                    <div class="service-message" ng-show="app.currentRequestStatusDocs._states_.loaded() === false">
                        <img class="loading" src="resources/img/loader.gif" alt="Загрузка"/>
                        <span>Загрузка...</span>
                    </div>
                    <div class="row" ng-show="app.currentRequestStatusDocs.size() > 0">
                        <table class="table stripped width-100">
                            <tbody>
                            <tr ng-repeat="doc in app.currentRequestStatusDocs.items | orderBy:'added.value' track by $index">
                                <td class="width-100">
                                    <a href="{{ 'serverside/controllers/downloader.php?docType=rsd&rsdId=' + doc.id.value }}">{{ doc.title.value }}</a>&nbsp; &nbsp;<span class="secondary-text black">{{ doc.size.value | fileSize }}</span><br>
                                    <span class="left secondary-text">{{ "Разместил: " + users.users.find("id", app.currentRequestHistory.find('id', doc.statusId.value).userId.value).fio }}</span>
                                    <span class="right secondary-text">{{ doc.added.value | timestamp:"DDMMMYYYYHHmm" }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
