<div class="width-100 height-100" ng-controller="RequestDetailsController">
    <table class="column no-border width-100">
        <tr class="column-content-container">
            <td>
                <div class="column-content y-scrollable padding-10">

                    <div class="row split-10 padding-5">
                        <span class="request-title left">{{ "Заявка #" + app.currentRequest.id.value + " (" + titles.requestStatuses.find("id", app.currentRequest.statusId.value).title.value + ")" }}</span>
                        <span class="right secondary-text">{{ "от " + (app.currentRequest.added.value | timestamp:'DDMMMYYYYHHmm') }}</span>
                    </div>
                    <div class="row split-10">
                        <div class="row padding-5 secondary-text">Наименование объекта</div>
                        <div class="row padding-5">{{ app.currentRequest.title.value }}</div>
                    </div>
                    <div class="row split-10">
                        <div class="row padding-5 secondary-text">Вид строительства</div>
                        <div class="row padding-5">{{ titles.requestTypes.find("id", app.currentRequest.requestTypeId.value).title.value }}</div>
                    </div>
                    <div class="row split-10">
                        <div class="row padding-5 secondary-text">Общая информация об объекте</div>
                        <div class="row padding-5">{{ app.currentRequest.description.value }}</div>
                    </div>
                    <div class="row split-10">
                        <div class="row padding-5 secondary-text">Необходимые виды ресурсов электроэнергетики</div>
                        <div class="row padding-5">{{ app.currentRequest.resources.value }}</div>
                    </div>
                    <div class="row split-10">
                        <div class="row padding-5 secondary-text">Инвестор</div>
                        <div class="row padding-5">{{ contractors.contractors.find("id", app.currentRequest.investorId.value).title.value }}</div>
                    </div>

                    <div class="row split-10 width-33">
                        <div class="row padding-5 secondary-text">Титул</div>
                        <div class="row padding-5">
                            <button class="button blue big width-100">Перейти к титулу</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="width-33 padding-5">
                            <div class="row secondary-text split-10">Технические условия</div>
                            <div class="row" ng-show="app.currentRequest.tu.value === false">
                                <label for="tu-uploader" class="label-button">
                                    Загрузить
                                    <input
                                            type="file"
                                            name="tu-uploader"
                                            id="tu-uploader"
                                            uploader
                                            uploader-url="serverside/controllers/uploader.php"
                                            uploader-data="app.currentUploaderData"
                                            uploader-on-before-upload="onBeforeUploadTU"
                                            uploader-on-complete-upload="onSuccessUploadTU"/>
                                </label>
                            </div>
                            <div class="row text-centered split-5" ng-show="app.currentRequest.tu.value === true">
                                <a class="button blue width-100"
                                   href="{{ 'serverside/controllers/downloader.php?docType=tu&requestId=' + app.currentRequest.id.value}}">
                                    Скачать
                                </a>
                            </div>
                            <div class="row text-centered split-5" ng-show="app.currentRequest.tu.value === true">
                                <label for="tu-reuploader" class="label-button">
                                    Заменить
                                    <input
                                            type="file"
                                            name="tu-reuploader"
                                            id="tu-reuploader"
                                            uploader
                                            uploader-url="serverside/controllers/uploader.php"
                                            uploader-data="app.currentUploaderData"
                                            uploader-on-before-upload="onBeforeUploadTU"
                                            uploader-on-complete-upload="onSuccessUploadTU"/>
                                </label>
                            </div>
                        </div>

                        <div class="width-33 padding-5">
                            <div class="row secondary-text split-10">Генеральное соглашение</div>
                            <div class="row" ng-show="app.currentRequest.genSogl.value === false">
                                <label for="gs-uploader" class="label-button">
                                    Загрузить
                                    <input
                                            type="file"
                                            name="gs-uploader"
                                            id="gs-uploader"
                                            uploader
                                            uploader-url="serverside/controllers/uploader.php"
                                            uploader-data="app.currentUploaderData"
                                            uploader-on-before-upload="onBeforeUploadGS"
                                            uploader-on-complete-upload="onSuccessUploadGS"/>
                                </label>
                            </div>
                            <div class="row text-centered split-5" ng-show="app.currentRequest.genSogl.value === true">
                                <a class="button blue width-100"
                                   href="{{ 'serverside/controllers/downloader.php?docType=gs&requestId=' + app.currentRequest.id.value}}">
                                    Скачать
                                </a>
                            </div>
                            <div class="row text-centered split-5" ng-show="app.currentRequest.genSogl.value === true">
                                <label for="gs-reuploader" class="label-button">
                                    Заменить
                                    <input
                                            type="file"
                                            name="gs-reuploader"
                                            id="gs-reuploader"
                                            uploader
                                            uploader-url="serverside/controllers/uploader.php"
                                            uploader-data="app.currentUploaderData"
                                            uploader-on-before-upload="onBeforeUploadGS"
                                            uploader-on-complete-upload="onSuccessUploadGS"/>
                                </label>
                            </div>
                        </div>
                        <div class="width-33 padding-5">
                            <div class="row secondary-text split-10">ДОУД</div>
                            <div class="row" ng-show="app.currentRequest.doud.value === false">
                                <label for="doud-uploader" class="label-button">
                                    Загрузить
                                    <input
                                            type="file"
                                            name="doud-uploader"
                                            id="doud-uploader"
                                            uploader
                                            uploader-url="serverside/controllers/uploader.php"
                                            uploader-data="app.currentUploaderData"
                                            uploader-on-before-upload="onBeforeUploadDOUD"
                                            uploader-on-complete-upload="onSuccessUploadDOUD"/>
                                </label>
                            </div>
                            <div class="row text-centered split-5" ng-show="app.currentRequest.doud.value === true">
                                <a class="button blue width-100"
                                   href="{{ 'serverside/controllers/downloader.php?docType=doud&requestId=' + app.currentRequest.id.value}}">
                                    Скачать
                                </a>
                            </div>
                            <div class="row text-centered split-5" ng-show="app.currentRequest.doud.value === true">
                                <label for="doud-reuploader" class="label-button">
                                    Заменить
                                    <input
                                            type="file"
                                            name="doud-reuploader"
                                            id="doud-reuploader"
                                            uploader
                                            uploader-url="serverside/controllers/uploader.php"
                                            uploader-data="app.currentUploaderData"
                                            uploader-on-before-upload="onBeforeUploadDOUD"
                                            uploader-on-complete-upload="onSuccessUploadDOUD"/>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
    </table>
</div>
