<table class="column width-20">
    <tr class="column-header">
        <td class="caption width-100">
            Заявки
            <button class="button green right"
                    ng-if="permissions.getByRuleCode('add_request').enabled.value === true"
                    ng-click="addRequest()">
                +
            </button>
        </td>

    </tr>
    <tr class="column-content-container">
        <td>
            <div class="column-content y-scrollable padding-5">

                <div class="service-message" ng-show="titles.requests._states_.loaded() == false">
                    <img class="loading" src="resources/img/loader.gif" alt="Загрузка"/>
                    <span>Загрузка...</span>
                </div>

                <div class="service-message" ng-show="titles.requests._states_.loaded() === true && titles.requests.size() === 0">
                    Заявки отсутствуют
                </div>

                <ul class="cards">
                    <li class="card"
                        ng-class="{'active': request._states_.selected() === true}"
                        ng-repeat="request in titles.requests.items | orderBy:'id.value' track by $index"
                        ng-click="selectRequest(request.id.value)">
                        <img ng-src="resources/img/icons/request.png" alt="" class="card-img icon"/>
                        <div class="card-header">
                            <span>{{ "Заявка #" + request.id.value }}</span>
                            <div class="right" ng-show="app.currentRequest.id.value === request.id.value">
                                <button class="button round blue"
                                        title="Редактировать"
                                        ng-if="permissions.getByRuleCode('edit_request').enabled.value === true"
                                        ng-click="editRequest(request.id.value, $event)">
                                    <img src="resources/img/icons/edit.png" alt=""/>
                                </button>
                                <button class="button round red"
                                        title="Удалить"
                                        ng-if="permissions.getByRuleCode('delete_request').enabled.value === true"
                                        ng-click="deleteRequest(request.id.value, $event)">&times;</button>
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="secondary-text">
                                {{ contractors.contractors.find("id", request._backup_.data.investorId).title.value }}
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>

<table class="column width-40">
    <tr class="column-header">
        <td class="caption width-100">
            Подробности
        </td>
    </tr>
    <tr class="column-content-container">
        <td>
            <div class="column-content no-padding">
                <div class="service-message" ng-show="app.currentRequest === undefined">
                    Выберите заявку
                </div>
                <div class="width-100 height-100">
                    <tabs tabs-source="tabs" tabs-position="top" ng-show="app.currentRequest !== undefined"></tabs>
                </div>
            </div>
        </td>
    </tr>
</table>


<table class="column width-40">
    <tr class="column-header">
        <td class="caption width-100">
            История
            <button class="button green right"
                    ng-show="app.currentRequest !== undefined"
                    ng-if="permissions.getByRuleCode('change_request_status').enabled.value === true"
                    ng-click="changeStatus()">
                +
            </button>
        </td>

    </tr>
    <tr class="column-content-container">
        <td>
            <div class="column-content y-scrollable padding-5">


                <div class="service-message" ng-show="app.currentRequestHistory._states_.loaded() === false">
                    <img class="loading" src="resources/img/loader.gif" alt="Загрузка"/>
                    <span>Загрузка...</span>
                </div>
                <div class="service-message" ng-show="app.currentRequest === undefined">
                    Выберите заявку
                </div>


                <div class="request-status-item padding-10"
                     ng-repeat="history in app.currentRequestHistory.items | orderBy:'timestamp.value' track by $index"
                     ng-class="{ 'added': history.statusId.value === 1, 'inner-expertise': history.statusId.value === 3, 'outer-expertise': history.statusId.value === 4, 'rejected': history.statusId.value === 7, 'approved': history.statusId.value === 6 }">
                    <div class="row request-status-header split-10">
                        <span class="request-status-title left">{{ titles.requestStatuses.find("id", history.statusId.value).title.value }}</span>
                        <span class="secondary-text right">{{ history.timestamp.value | timestamp:"DDMMMYYYYHHmm" }}</span>
                    </div>
                    <div class="row request-status-comment split-10" ng-show="history.description.value !== undefined && history.description.value !== '' && history.description.value !== null">
                        {{ "«" + history.description.value + "»" }}
                    </div>
                    <div class="row split-10">
                        <table class="table width-100 stripped condensed" ng-show="histDocs.length > 0">
                            <caption>Приложения</caption>
                            <tbody>
                            <tr ng-repeat="doc in histDocs = (app.currentRequestStatusDocs.items | byRequestId:app.currentRequest.id.value:history.id.value) track by $id(doc)">
                                <td>
                                    <a href="{{ 'serverside/controllers/downloader.php?docType=rsd&rsdId=' + doc.id.value }}">{{ doc.title.value }}</a>&nbsp;
                                    <span class="secondary-text right black">{{ doc.size.value | fileSize }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row request-status-info">
                        <span class="secondary-text">
                            <span class="secondary-text small" ng-show="history.statusId.value === 1">{{ "Заявку добавил " + users.users.find("id", history.userId.value).fio }}</span>
                            <span class="secondary-text small" ng-show="history.statusId.value !== 1">{{ "Статус изменил " + users.users.find("id", history.userId.value).fio }}</span>
                        </span>
                    </div>
                </div>

            </div>
        </td>
    </tr>
</table>